{% extends '_base_backyard.html' %}
{% load static %}
{% block title %}Home |{% endblock %}
<!-- Set corresponding nav pill to active -->
{% block nav_home %}
    active
{% endblock nav_home %}
{% block content %}
    <div class="container-fluid justify-content-center w-100 text-white">
        <div class="row justify-content-left p-md-4 text-left cta w-100 mx-3">
            <div class="col-10 col-md-10 mb-3">
                <h1 class="text-white display-3">Wilde Backyard Privacy Policy</h1>
                <small class="text-white"><i>Last updated 7/04/2024</i></small>
                <br>
                <br>
                Wilde Backyard is an app and service created by the Felidae Conservation Fund.
                <br>
                <br>
                This page intends to inform you of practices regarding collection and use of your personal information,
                should you intend to use this Service.
                <br>
                <br>
                By choosing to use the Service, you agree to the collection and use of information in regard to this
                policy to improve the Service.
                <hr>
                <h1 class="text-white my-4 display-5">Information Collection & Use</h1>
                You may be required to provide personally identifiable information to use the core functionality of the Service.
                <h2 class="text-white mb-3 mt-4">Account</h2>
                You will be required to create an account to post sightings and comment. An account requires a valid
                email address that is transmitted to the server upon each registration and login attempt
                <br>
                <br>
                <h2 class="text-white my-3">Log Data</h2>
                Whenever you access a feature of the Service, we collect information called Log Data. Log Data may
                consist of your account's recent actions, or identifiers unique to your account, such as device agent
                information.
                <br>
                <br>
                <h2 class="text-white my-3">Location Data</h2>
                If you choose to post a sighting on the Service, the precise location you have provided is transmitted to
                our server and stored in our database. Furthermore, your current location may be transmitted to the
                server to determine which posts show in your feed.
                <br>
                <br>
                <h2 class="text-white my-3">Service Providers</h2>
                We may employ third-party companies and individuals due to the following reasons:
                <br>
                <br>
                <ul>
                    <li>To facilitate our Service;</li>
                    <li>To provide the Service on our behalf;</li>
                    <li>To perform Service-related services; or</li>
                    <li>To assist us in analyzing how our Service is used;</li>
                </ul>
                We want to inform our Service users that these third parties may have access to your Personal
                information to perform the tasks assigned to them on our behalf. However, they are obligated not to
                disclose or use the information for any other purpose.
                <br>
                <br>
                <h2 class="text-white my-3">Security</h2>
                We value your trust in providing us with your Personal Information. Thus, we are striving to utilize
                commercially acceptable means of protecting your personal data. But remember that no method of
                transmission over the internet or method of electronic storage is 100% secure and reliable, and we
                cannot guarantee its absolute security.
                <br>
                <br>
                <h2 class="text-white my-3">Links To Other Sites</h2>
                Wilde Backyard may contain links to other sites. If you click on a third-party link, you will be directed
                to that site. Note that these external sites are not operated by us. Therefore, we strongly advise you to
                review the Privacy Policy of these sites. We have no control over, and assume no responsibility for the
                content, privacy policies, or practices of any third-party sites or services.
                <br>
                <br>
                <h2 class="text-white my-3">Children's Privacy</h2>
                Our Services do NOT address anyone under the age of 13. We do not knowingly collect personally
                identifiable information from children under 13. In the case we discover a child under 13 has provided
                us with personal information, we immediately delete this from our servers. If you are a parent or
                guardian and you are aware that your child has provided us with personal information, please contact
                us.
                <br>
                <br>
                <h2 class="text-white my-3">Changes to This Privacy Policy</h2>
                We may update our Privacy Policy from time to time. Thus, we advice you to review this page
                periodically from any changes. We will notify your of any changes by posting the new Privacy Policy
                to this page. These changes are effective immediately upon posting on this page
                <br>
                <br>
                <h2 class="text-white my-3">Contact Us</h2>
                For any inquiries about this Privacy Policy or other related matters, you may contact us via any of the following methods:
                <ul>
                    <li>By email: support@felidaefund.org</li>
                    <li>By visiting this page on our website: https://www.felidaefund.org/contact-us</li>
                    <li>By phone number: 415.877.4050</li>
                    <li>By mail: 100 Shoreline Hwy, Suite 100B, Mill Valley, CA 94941</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}
