{% extends '_base_backyard.html' %}
{% load static %}
{% block title %}Home |{% endblock %}
<!-- Set corresponding nav pill to active -->
{% block nav_home %}
    active
{% endblock nav_home %}
{% block content %}
    <div class="container-fluid justify-content-center w-100 text-white">
        <div class="row justify-content-left p-md-4 text-left cta w-100 mx-3">
            <div class="col-10 col-md-10 mb-3">
                <h1 class="text-white display-3">Wilde Backyard Terms Of Service</h1>
                <small class="text-white"><i>Last updated 7/25/2024</i></small>
                <br>
                <br>
                These Terms of Service govern your use of the Wilde Backyard mobile app and any of its related services.
                The Terms are a legally binding contract between you and the Felidae Conservation Fund.
                <br>
                <br>
                Your use of all Services means that you agree to be bound by the Terms.
                Any violation of these terms may result in the restriction or suspension of your account.
                If you do not understand or accept any part of the Terms, you may not use any Services encompassed by the agreement.
                <hr>
                <h1 class="text-white my-4 display-3">Terms</h1>
                <h2 class="text-white my-3">Age Requirements</h2>
                You must be at least 13 years or older to use the Service and app.
                If you are under 18, you must have your parent or guardian's permission to use the Service.
                <br>
                <br>
                <h2 class="text-white my-3">Termination</h2>
                We reserve the right to terminate or suspend access to our services without prior notice or liability for any reason,
                including without limitation if you breach the Terms of Service.
                <br>
                <br>
                <h2 class="text-white my-3">User Generated Content</h2>
                Wilde Backyard hosts user-generated content in the form of photo/video media and text content.
                This content is made available to users to view.
                While robust content moderation systems are in place to remove impertinent content,
                infractions of the Terms of Service by other users cannot be fully prevented.
                <br>
                <br>
                By your use of the app and its services,
                you understand and accept the risk of encountering discomforting or inappropriate media,
                and your duty to report said content via the in-app reporting features.
                <br>
                <br>
                <h2 class="text-white my-3">User Accountability</h2>
                In order to maintain the integrity of the Service, you may NOT under any circumstances:
                <br>
                <br>
                <ol type="a">
                    <li>Knowingly or maliciously upload impertinent or inappropriate text or media to the platform.</li>
                    <li>Upload any viruses or malicious code.</li>
                    <li>Attempt to access data or resources you are not authorized to access.</li>
                    <li>Collect or access data through scraping or other automated means without prior permission.</li>
                    <li>Reverse engineer the application or any related services.</li>
                    <li>
                        Act in any way that may cause impediment, damage, or burden to Wilde Backyard, its users, and/or the Felidae Conservation Fund.
                    </li>
                </ol>
                <br>
                <h2 class="text-white my-3">Data Persistence</h2>
                When your upload a photo/video, text, or any other content to our database, this information is saved perpetually.
                By using the Service, you understand that any data you upload may be publicly visible,
                and your data may persist after account deletion.
                <br>
                <br>
                <h2 class="text-white my-3">Media Rights</h2>
                By your use of the app and its services,
                you grant us license and right to use all media uploaded to our servers for research purposes, marketing, or any other applicable use cases.
                <br>
                <br>
                <h2 class="text-white my-3">Changes to These Terms Of Service</h2>
                We may update our Terms of Service from time to time. Thus, we advice you to review this page periodically from any changes.
                We will notify your of any changes by posting the new Terms to this page.
                These changes are effective immediately upon posting on this page.
                <br>
                <br>
                <h2 class="text-white my-3">Contact Us</h2>
                For any inquiries about these Terms of Service or other related matters, you may contact us via any of the following methods:
                <ul>
                    <li>By email: support@felidaefund.org</li>
                    <li>By visiting this page on our website: https://www.felidaefund.org/contact-us</li>
                    <li>By phone number: 415.877.4050</li>
                    <li>By mail: 100 Shoreline Hwy, Suite 100B, Mill Valley, CA 94941</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}
