{% extends 'base.html' %}
{% load static %}

<!-- Set corresponding nav pill to active -->
{% block nav_home %}active{% endblock %}

{% block content %}
    <div class="container mt-3 pt-3">
        <div class="row justify-content-evenly">
            <div class="col-12 col-md-10 col-lg-8">
                Profile page under construction.
                This will include basic volunteer information and the ability to change details like name/password/email/picture etc.
            </div>
        </div>
    </div>
{% endblock %}
