django
gunicorn
psycopg2-binary
django-environ
google-cloud-secret-manager
django-storages[google]
django-jazzmin
django-simple-history
django-model-utils
django-crispy-forms
crispy-bootstrap5
google-api-python-client
oauth2client
pyparsing==2.4.7
