# PRECAUTION: avoid production dependencies that aren't in development

-r requirements-base.txt
Collectfast==2.2.0  # https://github.com/antonagestam/collectfast

# Django
# ------------------------------------------------------------------------------
google-cloud-logging==3.2.2 # https://googleapis.dev/python/logging/latest/index.html
google-cloud-tasks==2.12.1 # https://googleapis.dev/python/tasks/latest/index.html
gunicorn==21.2.0  # https://github.com/benoitc/gunicorn
