argon2-cffi==21.3.0  # https://github.com/hynek/argon2_cffi
crispy-bootstrap5==0.6  # https://github.com/django-crispy-forms/crispy-bootstrap5

# Django
# ------------------------------------------------------------------------------
django==4.2.16  # https://www.djangoproject.com/
django-allauth==65.13.0  # https://github.com/pennersr/django-allauth
django-braces==1.15.0 # https://github.com/brack3t/django-braces
django-crispy-forms==1.14.0  # https://github.com/django-crispy-forms/django-crispy-forms
django-environ==0.9.0  # https://github.com/joke2k/django-environ

django-extensions==3.2.1
django-jazzmin==2.4.9  # https://github.com/farridav/django-jazzmin
django-model-utils==4.2.0  # https://github.com/jazzband/django-model-utils
django-simple-history==3.0.0  # https://github.com/jazzband/django-simple-history
django-storages[google]==1.12.3  # https://github.com/jschneier/django-storages
dropbox>=11.30.0 # https://github.com/dropbox/dropbox-sdk-python
google-api-python-client==2.58.0 # https://github.com/googleapis/google-api-python-client
google-auth==2.11.0 # https://github.com/googleapis/google-auth-library-python
google-auth-httplib2==0.1.0 # https://github.com/googleapis/google-auth-library-python-httplib2
google-auth-oauthlib==0.5.2 # https://github.com/googleapis/google-auth-library-python-oauthlib
google-cloud-datastore==2.13.0 # https://github.com/googleapis/python-datastore
google-cloud-secret-manager==2.11.1 # https://github.com/googleapis/python-secret-manager

numpy==1.26.4
pandas==2.2.3

Pillow==10.4.0  # https://github.com/python-pillow/Pillow
psycopg2-binary==2.9.9  # https://github.com/psycopg/psycopg2
python-slugify==6.0.1  # https://github.com/un33k/python-slugify
pytz==2021.3  # https://github.com/stub42/pytz
rcssmin==1.1.0  # https://github.com/ndparker/rcssmin

# Third party libs
# ------------------------------------------------------------------------------
requests==2.27.1  # https://github.com/psf/requests
whitenoise==6.4.0 # https://github.com/evansd/whitenoise
