# PRECAUTION: avoid production dependencies that aren't in development

-r requirements-base.txt
Collectfast==2.2.0  # https://github.com/antonagestam/collectfast

# Django
# ------------------------------------------------------------------------------
django-storages[google]==1.12.3  # https://github.com/jschneier/django-storages
