.account-header {
    color: rgb(128, 74, 74);
}

.login .asteriskField {
    display: none;
}

.login label {
    font-family: 'Titillium Web', sans-serif;
    color: rgb(134, 68, 68);
}

.forgot-password {
    font-size: 0.95em;
}
