/* TODO: Split the file & add django compressor to combine them in post */

/* ------------ Generic site wide styling ------------ */
html, body {
  height: 100%;
  font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Exo';
  font-weight: 600;
  color: rgb(34, 105, 44);
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

p {
  line-height: 1.75;
  font-size: 1.25em;
  color: rgb(49, 49, 49);
}

li {
  line-height: 1.75;
}

a {
  text-decoration: none;
  color:rgb(136, 86, 255);
}

a:hover {
  color:rgb(25, 167, 12)
}

.btn-light {
  background-color: #e4e8ed;
}


/* -------- Select 2 generic styling -------- */
.select2-container .select2-selection--single{
  height: 2.6em;
}

.select2-selection__placeholder {
  font-size: 0.9em;
}

.select2-selection__rendered {
  font-size: 1.1em;
  padding-top: .4em;
  padding-bottom: .4em;
}


/* ------------ Navbar & Footer styling ------------ */
.navbar {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 3px 10px rgba(117, 117, 117, 0.15);
}

.navbar-brand{
  font-family: 'Overlock', cursive;
  font-size: 1.8em;
  font-weight: 700;
  color: rgb(22, 136, 46) !important;
}


.nav-link {
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  color: rgb(17, 136, 57) !important;
}

.nav-link:hover {
  color: rgb(0, 83, 11) !important;
}

.nav-item.active .nav-link {
  color: rgb(0, 83, 11) !important;
  font-weight: 700;
}

.nav-dropdown {
  border: 1px solid rgb(197, 219, 197);
  border: none;
  box-shadow: 0px 4px 6px rgba(117, 117, 117, 0.2);
}

.nav-dropdown a {
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.1em;
  font-weight: 600;
  color: rgb(17, 136, 57) !important;
}

@media (min-width: 767.98px) {
  .nav-dropdown {
      border: none;
      box-shadow: 0px 5px 10px rgba(117, 117, 117, 0.2);
  }
}

.footer p {
  font-family: 'Exo', sans-serif;
  font-size: 0.9em;
  color:rgb(12, 87, 31)
}


/* ------------ Uploads ------------ */
.uploads .cta {
  font-size: 1.25em;
  font-weight: 700;
  background-color: #239B56;
  border: 0px;
}

.uploads .cta .material-icons{
  font-size: 1.25em;
}

#map-widget {
  min-height: 500px;
}


/* Set the size of the div element that contains the map */
.map {
  height: 94.5vh;
}

#map {
  height: 100%;
  width: 100%;
}


/* ------------ Annotations ------------ */
svg.a9s-annotationlayer .a9s-inner {
  stroke-width: 2px;
}
