/* ------------ Uploads ------------ */
.uploads .cta {
    font-size: 1.25em;
    font-weight: 700;
    background-color: #239B56;
    border: 0px;
}

.uploads .cta .material-icons {
    font-size: 1.25em;
}
