/* ----- Breakpoints ----- */
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;


/* ----- Fonts ------ */
$font-family-base: 'Titillium Web', sans-serif;
$font-family-heading: 'Saira Condensed', sans-serif;
$font-family-nav: 'Saira Semi Condensed', sans-serif;
$font-size-h1-base: 1.8em;
$font-size-h2-base: 1.7em;
$font-size-h3-base: 1.6em;
$font-size-h4-base: 1.5em;
$font-size-h5-base: 1.4em;
$font-size-p-base: 1.2em;
$font-size-small-base: 0.7em;
$font-size-nav-base: 1.2em;
$font-size-footer-base: 0.8em;


/* ----- Colors ------ */
$color-base: #555;
$color-heading: #0B4F6C;
$color-nav: #1b7196;
$color-nav-active: #082836;
$color-nav-bg: rgb(255, 255, 255, 0.6);
$color-link: rgb(88, 39, 202);
$color-link-hover: rgb(35, 139, 25);
$color-btn-dark: #1a7196;
$color-btn-dark-hover: rgb(14, 71, 95);
$color-btn-light: #f0f3f5;
$color-btn-light-hover: #e1e4e9;
$color-footer: #06394e;
