{% extends '_base.html' %}
{% load static %}
{% block title %}Home |{% endblock %}
<!-- Set corresponding nav pill to active -->
{% block nav_home %}
    active
{% endblock nav_home %}
{% block content %}
    <div class="background {% if is_bhutan %}background--bhutan{% endif %}"></div>
    <div class="container-fluid p-0 home-banner d-flex justify-content-center align-items-center position-absolute">
        {% csrf_token %}
        <div class="row justify-content-left m-3 p-3 p-md-4 text-left cta w-75">
            <div class="col-12 col-md-10">
                <h1>Welcome To WildePod{% if is_bhutan %} Bhutan {% endif %}{% if is_local %} Local {% elif is_staging %} Staging {% endif %}</h1>
                <p>Let's make our community a better place! Help us record trail camera data.</p>
                {% if user.is_authenticated and user.is_active %}
                    <a href="{% url 'images:annotate_species' %}">
                        <button class="btn btn-primary col-12 col-lg-5 my-2">
                            <i class="bi bi-bounding-box"></i>&nbsp;&nbsp;&nbsp;Start Tagging
                        </button>
                    </a>
                {% else %}
                    <a href="https://felidaefund.org/take-action" target="_blank">
                        <button class="btn btn-primary col-12 col-lg-5 my-2">Get Involved</button>
                    </a>
                {% endif %}
                <br>
                <a href="{% url 'backyard:backyard_home' %}">
                    <button class="btn btn-secondary col-12 col-lg-5 my-2">
                        <i class="bi bi-phone"></i>&nbsp;&nbsp;&nbsp;Coming Soon: Wilde Backyard
                    </button>
                </a>
            </div>
        </div>
    </div>
    <div class="container py-2 my-2 py-md-3 my-md-3 py-lg-4 my-lg-4 flex-row flex-wrap">
        <div class="row justify-content-left m-3 p-3 p-md-4 text-left w-100 border outer-shadow">
            <div class="col-md-4">
                {% if is_bhutan %}
                    <img src="{% static 'images/snow_leopard.jpg' %}"
                        alt="Snow Leopard"
                        class="card-img p-2 rounded-circle inner-shadow">
                {% else %}
                    <img src="{% static 'images/bobcat.jpg' %}"
                        alt="Bobcat"
                        class="card-img p-2 rounded-circle inner-shadow">
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h1 class="card-title">WildePod Database</h1>
                    <p class="card-text">
                        We have built a database repository for wildlife imagery collected on public, state, county, city and
                        private lands.
                        Our work is focused on conservation of wild fields but we collect images of all wildlife for use in
                        research and land planning. Clean Data.
                    </p>
                    {% if user.is_authenticated and user.is_active %}
                        <a href="{% url 'explore:map' %}">
                            <button class="btn btn-primary w-25">ENTER DATABASE</button>
                        </a>
                    {% else %}
                        <a href="{% url 'account_login' %}">
                            <button class="btn btn-primary w-25">ENTER DATABASE</button>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="background {% if is_bhutan %}background--bhutan{% endif %} short"></div>
    <div class="container py-2 my-2 py-md-3 my-md-3 py-lg-4 my-lg-4 flex-row flex-wrap">
        <div class="row justify-content-left m-3 p-3 p-md-4 text-left w-100 border outer-shadow">
            <div class="col-md-4">
                <img src="{% static 'images/puma_backyard.jpg' %}"
                     alt="Puma in the backyard"
                     class="card-img p-2 rounded-circle inner-shadow">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title">Wilde Backyard</h2>
                    <p class="card-text">
                        We are building a community backyard program that partners with residential communities to collect
                        wildlife images on private properties.
                        If you think you have wildlife moving through your property or have seen it, we want to work with you!
                    </p>
                    <a href="https://felidaefund.org/projects/community/wilde-backyard"
                       target="_blank">
                        <button class="btn btn-primary w-25">FIND OUT MORE</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="background {% if is_bhutan %}background--bhutan{% endif %} short"></div>
    <div class="container py-2 my-2 py-md-3 my-md-3 py-lg-4 my-lg-4 flex-row flex-wrap">
        <div class="row justify-content-left m-3 p-3 p-md-4 text-left w-100 border outer-shadow">
            <div class="col-md-4">
                <img src="{% static 'images/puma_scat.jpg' %}"
                     alt="Bobcat"
                     class="card-img p-2 rounded-circle inner-shadow">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title">DNA Research</h2>
                    <p class="card-text">
                        We collect scat, hair and eDNA for our research on mountain lions and bobcats in the SF Bay Area in
                        order to determine impacts of human activities on the health of felid species at the urban edge. Contact
                        us for more information or to get involved.
                    </p>
                    <a href="https://felidaefund.org/take-action" target="_blank">
                        <button class="btn btn-primary w-25">LEARN MORE</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="background {% if is_bhutan %}background--bhutan{% endif %} short"></div>
    <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        window.onload = function () {
            let data = {
                'csrfmiddlewaretoken': csrftoken,
            };

            $.ajax({
                url: '{% url 'images:precompute_queues' %}',
                method: 'POST',
                data: data,
                dataType: 'json',
                success: function (data) {
                    console.log(data.message)
                },
                error: function (xhr, status, error) {
                    console.error("AJAX Error:", status, error);
                }
            });
        }
    </script>
{% endblock content %}
