@use '../core';
.background {
    height: 95vh;
    background-image: url('https://felidaefund.org/media/cache/autosized/images/igallery/original/801-900/jlm-9184-20--20denoise-832-1920.webp');
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .cta {
        background-color: rgb(0, 0, 0, 0.70);
        border-radius: 1em;
        text-shadow: 2px 2px rgb(0, 0, 0, 0.50);
        overflow: hidden;
    }

    h1 {
        @include core.responsive-font(2.5em, .5em);
        color: #fff !important;
    }

    p {
        @include core.responsive-font(1.25em, 0.1em);
        line-height: 1.5;
        color: #fff !important;
        font-weight: 500;
    }

    button {
        font-weight: 500;
    }
}

.blur {
    backdrop-filter: blur(3px);
}
