{% extends './base.html' %}
{% load static %}
{% load humanize %}
{% block instruction_text %}
    <p class="label-toggle lead">
        {% if activity_category == "human" %}
            What activity/behavior are people in the image engaged in?
        {% else %}
            What activity are the animals in the image exhibiting?
        {% endif %}
    </p>
    <p class="d-none label-toggle lead">
        <b>Click on each box and select the activity. Then, click Save when
        complete!</b>
    </p>
{% endblock instruction_text %}
{% block category_list %}
    <div class="pb-1 label-toggle">
        <select id="activity-list" class="w-100">
            <option value="" disabled selected></option>
            {% for activity in activity_list %}<option value="{{ activity }}">{{ activity }}</option>{% endfor %}
        </select>
    </div>
{% endblock category_list %}
{% block menu_buttons %}
    {% block category_button %}
        <span class="btn btn-secondary label-toggle" id="multiple-activity"><i class="bi bi-journal-plus">&nbsp;&nbsp;&nbsp;</i>Multiple activities?</span>
        <span class="btn btn-secondary label-toggle d-none" id="single-activity"><i class="bi bi-journal-minus">&nbsp;&nbsp;&nbsp;</i>Single activity?</span>
    {% endblock category_button %}
    {% block delete_all_boxes_button %}
    {% endblock delete_all_boxes_button %}
{% endblock menu_buttons %}
