{% extends "_base.html" %}

{% load account %}

{% block title %}Password Reset | {% endblock %}

{% block content %}
<div class="container mt-3 pt-3 mt-md-4 pt-md-4 mt-lg-5 pt-lg-5">
    <div class="row justify-content-center pb-3">
        <div class="col-11 col-md-8 col-lg-6 text-center">
            <h1>Password Reset</h1>
            <hr />
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-11 col-md-8 col-lg-6">
            {% if user.is_authenticated %}
            <p class="text-center">You are already logged in.</p>
            {% else %}
            <p>We have sent you an e-mail. Please contact the staff if you do not receive it within a few minutes.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
