{% extends "_base.html" %}

{% load account %}
{% load crispy_forms_tags %}

{% block title %}Password Reset | {% endblock %}

{% block content %}
<div class="container mt-3 pt-3 mt-md-4 pt-md-4 mt-lg-5 pt-lg-5">
    <div class="row justify-content-center pb-3">
        <div class="col-11 col-md-8 col-lg-6 text-center">
            <h1>Password Reset</h1>
            <hr />
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-11 col-md-8 col-lg-6">
            {% if user.is_authenticated %}
            <p class="text-center">You are already logged in. <a href="{% url 'account_change_password' %}">Change your password</a> instead.</p>
            {% else %}
            <p>Enter your e-mail address below, and you'll get an email to reset your password!</p>
            <form
                method="POST"
                action="{% url 'account_reset_password' %}"
                class="password_reset"
            >
                {% csrf_token %}
                {{ form|crispy }}
                <p class="text-center pt-4">
                    <button
                        class="btn btn-primary"
                        type="submit"
                        name="action"
                    >Reset My Password</button>
                </p>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
