{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}Upload |{% endblock %}
<!-- Set corresponding nav pill to active -->
{% block nav_upload %}
    active
{% endblock nav_upload %}
{% block header_includes %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
          rel="stylesheet" />
{% endblock header_includes %}
{% block content %}
    <div class="container pt-2 mt-2 mt-md-4 bg-white rounded">
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">Server error! Please try again or contact admin.</div>
        {% endif %}
        <div class="row pt-2 pt-md-4">
            <div class='col-3 col-md-2 offset-1 offset-md-3'>
                <hr />
            </div>
            <div class='col-4 col-md-2 '>
                <h2 class="text-center">Upload</h2>
            </div>
            <div class='col-3 col-md-2'>
                <hr />
            </div>
        </div>
        <div class="row text-center">
            <small><a href="{% url 'images:list_uploads' %}" class="text-decoration-none">⬅ back</a></small>
        </div>
        <div class="row mt-4 mb-5">
            <form method="post" enctype="multipart/form-data">
                {% crispy form %}
            </form>
        </div>
    </div>
    <div class="container pt-2 mt-2 mt-md-4 bg-white rounded p-4">
        <h1 class="my-3">
            Preview Fixes <span class="spinner-border" role="status"></span>
        </h1>
        <p>These are sample images to demonstrate the time change, not images in your upload.</p>
        <table id="preview-fixes">
            <thead>
                <tr>
                    <th>Image ID</th>
                    <th>Old Timestamp</th>
                    <th>New Timestamp</th>
                </tr>
            </thead>
            <tbody>
                {% for image in images %}
                    <tr>
                        <td>{{ image.id }}</td>
                        <td>{{ image.trigger_time }}</td>
                        <td id="preview-{{ image.id }}">{{ image.new_time }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="page-background h-100 mt-5"></div>
{% endblock content %}
{% block footer_includes %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
    $('#id_camera_station').select2({
        placeholder: 'Which camera station is this from? Ex: "KNG05", "Willow Ridge Road", "La Honda" etc..',
    });
    $('#id_volunteer').select2({
        placeholder: 'Who retrieved the memory card?',
    });

    </script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css"
          integrity="sha512-34s5cpvaNG3BknEWSuOncX28vz97bRI59UnVtEEpFX536A7BtZSJHsDyFoCl8S7Dt2TPzcrCEoHBGeM4SUBDBw=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"
            integrity="sha512-LsnSViqQyaXpD4mBBdRYeP6sRwJiJveh2ZIbW41EBrNmKxgr/LFZIiWT6yr+nycvhvauz8c2nYMhrP80YhG7Cw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    {% include './page_functions/preview_time_correction.html' %}
{% endblock footer_includes %}
