{% extends '_base.html' %}
{% load static %}
{% block title %}Fix Time Errors |{% endblock %}
<!-- Set corresponding nav pill to active -->
{% block nav_upload %}active{% endblock %}
{% block content %}
    <div class="container uploads bg-white rounded">
        <h1 class="mt-5">Timestamp Correction</h1>
        <hr>
        <div id="upload-count-text" class="alert alert-info mb-0" role="alert">
            There are {{ num_uploads }} upload(s) with time fix details or correction objects.
        </div>
        <table class="table mt-2 mt-md-4 align-middle text-center" id="upload-list">
            <thead>
                <tr>
                    <th scope="col">Action</th>
                    <th scope="col">Station ID</th>
                    <th scope="col">Microsite</th>
                    <th scope="col">Macrosite</th>
                    <th scope="col">First Image Timestamp</th>
                    <th scope="col"># Images</th>
                    {% if user.is_staff %}
                        <th scope="col">Volunteer</th>
                        <th scope="col">Offset Years</th>
                        <th scope="col">Offset Months</th>
                        <th scope="col">Offset Days</th>
                        <th scope="col">Offset Hours</th>
                        <th scope="col">Offset Minutes</th>
                        <th scope="col">Daylight Savings Date</th>
                        <th scope="col">Fix Applied At</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for object, first_timestamp in zipped_data %}
                    <tr>
                        <td>
                            {% if not object.time_correction %}
                                <a href="{% url 'images:create_time_correction' object.id %}">
                                    <button type="button" class="btn btn-light">Create</button>
                                </a>
                            {% else %}
                                <a href="{% url 'images:apply_time_correction' object.id %}">
                                    {% if object.time_correction.applied_at %}
                                        <button type="button" class="btn btn-warning">Unapply</button>
                                    {% else %}
                                        <button type="button" class="btn btn-primary">Apply</button>
                                    {% endif %}
                                </a>
                            {% endif %}
                        </td>
                        <td>{{ object.camera_station.station_id }}</td>
                        <td>{{ object.camera_station.micro_site }}</td>
                        <td>{{ object.camera_station.micro_site.macro_site }}</td>
                        <td>{{ first_timestamp }}</td>
                        {% if object.processed %}
                            <td>{{ object.images.all.count }}</td>
                        {% else %}
                            <td>-</td>
                        {% endif %}
                        {% if user.is_staff %}
                            <td>{{ object.volunteer.name }}</td>
                            <td>{{ object.time_correction.years }}</td>
                            <td>{{ object.time_correction.months }}</td>
                            <td>{{ object.time_correction.days }}</td>
                            <td>{{ object.time_correction.hours }}</td>
                            <td>{{ object.time_correction.minutes }}</td>
                            <td>{{ object.time_correction.daylight_savings }}</td>
                            <td>{{ object.time_correction.applied_at }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script></script>
{% endblock %}
