{% extends '_base.html' %}
{% block title %}
    Upload List |
{% endblock title %}
<!-- Set corresponding nav pill to active -->
{% block nav_upload %}
    active
{% endblock nav_upload %}
{% block content %}
    <div class="container">
        <div class="row p-5 justify-content-center text-center">
            <div class="m-3 card-emphasis rounded bg-white p-3 {% if user.is_staff %}col-5{% endif %}">
                <div class="col-12 col-sm-6 w-100">
                    <a class="cta link-primary"
                       role="button"
                       href="{% url 'images:create_upload' %}">
                        <div class="big-text rounded">
                            <i class="bi bi-upload"></i>
                            <br>
                            <text>Upload Images</text>
                        </div>
                    </a>
                </div>
            </div>
            {% if user.is_staff %}
                <div class="col-5 m-3 card-emphasis rounded bg-white p-3">
                    <div class="col-12 col-sm-6 w-100">
                        <a class="cta link-warning"
                           role="button"
                           href="{% url 'images:fix_upload_sets' %}">
                            <div class="big-text rounded">
                                <i class="bi bi-clock"></i>
                                <br>
                                <text>(Staff) Fix Time Errors</text>
                            </div>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="container mt-2 mt-md-3 rounded bg-white p-3">
        <h1>Filter Uploads</h1>
        <p class="small">Applies only to 'Complete' upload section.</p>
        <hr>
        <form id="form_uploads" method="get">
            <div class="form-group">
                <div class="row px-2">
                    {% if user.is_staff %}
                        <div class="mb-2 col-6">
                            <label for="select_volunteer">Volunteer</label>
                            <select id="select_volunteer" name="volunteer" class="form-select">
                                <option value="" disabled selected></option>
                                {% for volunteer in volunteers %}<option value="{{ volunteer }}">{{ volunteer.human }}</option>{% endfor %}
                            </select>
                        </div>
                    {% endif %}
                    <div class="mb-2 col-6">
                        <label for="select_macrosite">Macrosite</label>
                        <select id="select_macrosite" name="macrosite" class="form-select">
                            <option value="" disabled selected></option>
                            {% for macrosite in macrosites %}<option value="{{ macrosite }}">{{ macrosite }}</option>{% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row d-flex px-2">
                    <div class="mb-2 col-6">
                        <label for="select_microsite">Microsite</label>
                        <select id="select_microsite" name="microsite" class="form-select">
                            <option value="" disabled selected></option>
                            {% for microsite in microsites %}<option value="{{ microsite.name }}">{{ microsite }}</option>{% endfor %}
                        </select>
                    </div>
                    <div class="mb-2 col-6">
                        <label for="select_camstation">Camera Station</label>
                        <select id="select_camstation" name="camera_station" class="form-select">
                            <option value="" disabled selected></option>
                            {% for camera_station in camera_stations %}
                                <option value="{{ camera_station.station_id }}">{{ camera_station }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row d-flex px-2 pt-2">
                    <div class="mb-2 col-2">
                        <label for="select_start_date">Retrieval Start Date</label>
                    </div>
                    <div class="mb-2 col-1">
                        <input type="datetime-local" id="select_start_date" name="start_date">
                    </div>
                </div>
                <div class="row d-flex px-2 pt-2">
                    <div class="mb-2 col-2">
                        <label for="select_end_date">Retrieval End Date</label>
                    </div>
                    <div class="mb-2 col-1">
                        <input type="datetime-local" id="select_end_date" name="end_date">
                    </div>
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Query</button>
        </form>
    </div>
    <div class="container mt-2 mt-md-3 rounded bg-white p-3">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-link active"
                   id="nav-pending-tab"
                   data-bs-toggle="tab"
                   href="#nav-pending"
                   role="tab"
                   aria-controls="nav-pending"
                   aria-selected="false">
                    <text class="small">
                    Pending ({{ num_pending }})
                    </text>
                </a>
                <a class="nav-link"
                   id="nav-processing-tab"
                   data-bs-toggle="tab"
                   href="#nav-processing"
                   role="tab"
                   aria-controls="nav-processing"
                   aria-selected="false">
                    <text class="small">Processing ({{ num_processing }})</text>
                </a>
                <a class="nav-link"
                   id="nav-complete-tab"
                   data-bs-toggle="tab"
                   href="#nav-complete"
                   role="tab"
                   aria-controls="nav-complete"
                   aria-selected="false">
                    <text class="small">Complete ({{ object_list|length }} of {{ num_completed }} shown)</text>
                </a>
            </div>
            <div class="tab-content upload-container">
                <div class="tab-pane fade show active p-0 text-center"
                     id="nav-pending"
                     role="tabpanel"
                     aria-labelledby="nav-pending-tab">
                    {% csrf_token %}
                    <div class="row p-3 text-center">
                        {% if user.is_staff %}
                            <p class="small">
                                <i>Hey, {{ user.name }}! Since you're a staff member, you can see all pending uploads for all
                                    volunteers.
                                    <br>
                                    You can also find this on the <a href="{% url 'admin:images_upload_changelist' %}"
    class="text-decoration-none">admin</a>
                                page.</i>
                            </p>
                        {% else %}
                            <p class="small">
                                <i>If all pictures have been uploaded to Dropbox, please click on the "Complete" button.</i>
                            </p>
                        {% endif %}
                        <hr>
                    </div>
                    {% if num_pending > 0 %}
                        <div class="row p-3 text-center pt-0 overflow-auto upload-list">
                            {% for object in pending %}
                                {% if not object.upload_complete %}{% endif %}
                                <div class="card w-32 text-center m-1 p-0 mb-3 {% if forloop.counter|divisibleby:2 %}bg-light{% endif %}">
                                    <div class="card-header h-100 p-2">
                                        <h1 class="small mb-0">
                                            {{ object.camera_station.station_id }} | {{ object.camera_station.micro_site }} | {{ object.camera_station.micro_site.macro_site }}
                                        </h1>
                                    </div>
                                    <div class="card-body">
                                        {% if user.is_staff %}
                                            <text><b>Volunteer: {{ object.volunteer.name }}</b></text>
                                            <br>
                                        {% endif %}
                                        <text class="d-inline-block small text-truncate" style="max-width: 100%"><i>Last Action: {{ object.last_action }}</i></text>
                                        {% if user.is_staff %}
                                            <br>
                                            <br>
                                            <a href="{% url 'admin:images_upload_change' object.id %}"
                                               target="_blank">Priority {{ object.priority }}</a>
                                            <br>
                                        {% endif %}
                                        <hr>
                                        <div>
                                            <b>Retrieved {{ object.date_retrieved }}</b>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <a href="{{ object.dropbox_request_url }}"
                                           target="_blank"
                                           class="btn btn-light"><i class="bi bi-dropbox"></i></a>
                                        <a href="{% url 'images:complete_upload' object.id %}">
                                            <button type="button" class="btn btn-light">Complete</button>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="text-center">
                            <p>
                                <i>(No pending upload sets found.)</i>
                            </p>
                        </div>
                    {% endif %}
                </div>
                <div class="tab-pane fade p-0 text-center"
                     id="nav-processing"
                     role="tabpanel"
                     aria-labelledby="nav-processing-tab">
                    <div class="row p-3 text-center">
                        <div class="text-center" style="padding: 1rem; border-radius: 5px">
                            {% if user.is_staff %}
                                <p class="small">
                                    <i>
                                        Hey, {{ user.name }}! Since you're a staff member, you can see processing uploads from all users.
                                        <br>
                                        Dropbox urls are not public and will only be available if you're logged into the dropbox org account.
                                    </i>
                                </p>
                            {% else %}
                                <p class="small">
                                    <i>Hey, {{ user.name }}! Here is a list of all your currently processing uploads</i>
                                </p>
                            {% endif %}
                            <p>
                                <small>
                                    If your upload is stuck i.e. the numbers have not changed in over 30 minutes even after refreshing
                                    the page, click the button below.
                                </small>
                            </p>
                            <p>
                                <form method="POST">
                                    {% csrf_token %}
                                    <input type="submit"
                                           class="btn btn-primary"
                                           id="upload_resume_processing"
                                           name="upload_resume_processing"
                                           value="Resume Processing">
                                </form>
                            </p>
                        </div>
                        <hr>
                    </div>
                    {% if num_processing > 0 %}
                        <div class="row pt-0 upload-list overflow-auto">
                            {% for object in processing %}
                                {% if object.upload_complete and not object.processed %}
                                    <div class="card w-32 text-center m-1 p-0 mb-3 {% if forloop.counter|divisibleby:2 %}bg-light{% endif %}">
                                        <div class="card-header h-100 p-2">
                                            <h1 class="small mb-0">
                                                {{ object.camera_station.station_id }} | {{ object.camera_station.micro_site }} | {{ object.camera_station.micro_site.macro_site }}
                                            </h1>
                                        </div>
                                        <div class="card-body">
                                            {% if user.is_staff %}
                                                <text><b>Volunteer: {{ object.volunteer.name }}</b></text>
                                                <br>
                                            {% endif %}
                                            <text class="d-inline-block small text-truncate" style="max-width: 100%"><i>Last Action: {{ object.last_action }}</i></text>
                                            {% if user.is_staff %}
                                                <br>
                                                <br>
                                                <a href="{% url 'admin:images_upload_change' object.id %}"
                                                   target="_blank">Priority {{ object.priority }}</a>
                                                <br>
                                            {% endif %}
                                            <hr>
                                            <div>
                                                <b>Retrieved {{ object.date_retrieved }}</b>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <a href="{{ object.dropbox_request_url }}"
                                               target="_blank"
                                               class="btn btn-light"><i class="bi bi-dropbox"></i></a>
                                            <a href="{% url 'images:view_upload' object.id %}"
                                               id="view-{{ object.id }}"
                                               class="d-none">
                                                <button type="button" class="btn btn-light">View</button>
                                            </a>
                                            <button class="btn btn-light">
                                                <span id="status-{{ object.id }}" class="text-center">?/? (..checking)</span>
                                            </button>
                                            <div id="bar-{{ object.id }}"
                                                 class="progress mt-2"
                                                 role="progressbar"
                                                 aria-label="Upload Progress {{ object.id }}"
                                                 aria-valuenow="0"
                                                 aria-valuemin="0"
                                                 aria-valuemax="100">
                                                <div id="progress-{{ object.id }}"
                                                     class="progress-bar progress-bar-striped progress-bar-animated bg-warning">
                                                    ?
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="text-center">
                            <p>
                                <i>(No currently processing upload sets found.)</i>
                            </p>
                        </div>
                    {% endif %}
                </div>
                <div class="tab-pane fade p-0 text-center"
                     id="nav-complete"
                     role="tabpanel"
                     aria-labelledby="nav-complete-tab">
                    <div class="row p-3 text-center">
                        {% if user.is_staff %}
                            <p class="small">
                                <i>
                                    Hey, {{ user.name }}! Since you're a staff member, you can query for uploads from all users.
                                    <br>
                                    Dropbox urls are not public and will only be available if you are logged into the dropbox org account.
                                </i>
                            </p>
                        {% else %}
                            <p class="small">
                                <i>Hey, {{ user.name }}! Here is a list of all your completed uploads</i>
                            </p>
                        {% endif %}
                        <hr>
                    </div>
                    {% if num_completed > 0 %}
                        <div class="row pt-0 upload-list overflow-auto p-2">
                            {% for object in object_list %}
                                {% if object.upload_complete and object.processed %}
                                    <div class="card w-32 text-center m-1 p-0 mb-3 {% if forloop.counter|divisibleby:2 %}bg-light{% endif %}">
                                        <div class="card-header h-100 p-2 pb-0">
                                            <h1 class="small">
                                                {{ object.camera_station.station_id }} | {{ object.camera_station.micro_site }} | {{ object.camera_station.micro_site.macro_site }}
                                            </h1>
                                        </div>
                                        <div class="card-body">
                                            {% if user.is_staff %}
                                                <text><b>Volunteer: {{ object.volunteer.name }}</b></text>
                                                <br>
                                            {% endif %}
                                            <text class="d-inline-block small text-truncate" style="max-width: 100%"><i>Last Action: {{ object.last_action }}</i></text>
                                            {% if user.is_staff %}
                                                <br>
                                                <text><i class="bi bi-images"></i>&nbsp;&nbsp;{{ object.images.all.count }}</text>
                                                <br>
                                                <br>
                                                <a href="{% url 'admin:images_upload_change' object.id %}"
                                                   target="_blank">Priority {{ object.priority }}</a>
                                            {% endif %}
                                            <hr>
                                            <div>
                                                <b>Retrieved {{ object.date_retrieved }}</b>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <a href="{{ object.dropbox_request_url }}"
                                               target="_blank"
                                               class="btn btn-light"><i class="bi bi-dropbox"></i></a>
                                            <a href="{% url 'images:view_upload' object.id %}">
                                                <button type="button" class="btn btn-light">View</button>
                                            </a>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="text-center">
                            <p>
                                <i>(No completed upload sets found.)</i>
                            </p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
    <div class="page-background h-100 mt-5"></div>
{% endblock content %}
{% block footer_includes %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
          rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
    // Submit annotations to the server
    $("#upload_resume_processing").click(function(e){
        // First, prevent the default action of the form
        e.preventDefault();
        // Get the CSRF token from the DOM
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

        // Send back all the bbox ids back to the server to log bbox deletions
        // Make an AJAX request
        $.ajax({
            url: '{% url 'images:upload_resume_processing'%}',
            method: 'POST',
            data: {
                'csrfmiddlewaretoken': csrftoken,
            },
            dataType: 'json',
            success: function (data){
                if (data.success){
                    console.log("Upload processing resumed");
                }
                else {
                    console.log(data.error);
                }
            },
        })
    });
    $(`.form-select`).select2({
        placeholder: '',
        multiple: true,
    })
    </script>
    <script>
    let uploads_in_process = [
        {% for object in processing %}"{{object.id}}",{% endfor %}
    ];

    let periodic_check;

    function checkStatus() {
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        console.log(JSON.stringify(uploads_in_process))
        // Make an ajax call with all the pending uploads to get their status & process them
        $.ajax({
            url: '{% url 'images:upload_status'%}',
            method: 'POST',
            data: {
                'upload_ids': JSON.stringify(uploads_in_process),
                'csrfmiddlewaretoken': csrftoken,
            },
            dataType: 'json',
            success: function (data){
                uploads_in_process = []
                if (data.success){
                    for (const [upload_id, upload_status] of Object.entries(data["upload_statuses"])){
                        if (upload_status["valid"]){
                            if (upload_status["total_images"] > 0 && upload_status["total_images"] == upload_status["processed_images"]) {
                                $("#status-" + upload_id).toggleClass("d-none");
                                $("#view-" + upload_id).toggleClass("d-none");
                            }
                            else {
                                let percentage = upload_status["processed_images"] / upload_status["total_images"];
                                percentage = Math.trunc(percentage * 10000) / 100;
                                $("#status-" + upload_id).html(upload_status["processed_images"] + "/" + upload_status["total_images"]);
                                uploads_in_process.push(upload_id)

                                const bar = $(`#bar-${upload_id}`);
                                const progress = $(`#progress-${upload_id}`);

                                if (percentage) {
                                    progress.html(`${percentage}%`);
                                    progress.removeClass("bg-danger");
                                    progress.addClass("bg-warning");
                                    progress.css("width", `${percentage}%`);
                                    bar.attr("aria-valuenow", `${percentage}`);
                                }
                                else {
                                    progress.html(`Stalled`);
                                    progress.removeClass("bg-warning");
                                    progress.addClass("bg-danger");
                                    progress.css("width", `100%`);
                                }
                            }
                        }
                    }
                    if (uploads_in_process.length == 0) {
                        clearInterval(periodic_check);
                        return;
                    }
                }
                else {
                    console.log(data.error);
                }
            },
        })
    }

    if (uploads_in_process.length > 0){
        checkStatus();
        let periodic_check = setInterval(function(){
            checkStatus();
        }, 15000)
    }

    </script>
{% endblock footer_includes %}
