{% extends 'base.html' %}
{% load static %}

<!-- Set corresponding nav pill to active -->
{% block nav_map %}active{% endblock %}

{% block content %}

<!--The div element for the map -->
<div id="map"></div>
<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
<script
    src="https://maps.googleapis.com/maps/api/js?key=REDACTED_GOOGLE_KEY&callback=initMap&libraries=&v=weekly"
    async
    ></script>
{% endblock %}

{% block footer_includes %}
<script>
const camera_traps = [
    {% for camera_trap in object_list %}
        {lat: {{ camera_trap.latitude }}, lng: {{ camera_trap.longitude }}, title: "{{ camera_trap.micro_site }}"},
    {% endfor %}
]
// Initialize and add the map
function initMap() {
    // The map, centered at the first co-ordinate
    const map = new google.maps.Map(document.getElementById("map"), {
      zoom: 9,
      center: {lat: camera_traps[0]['lat'], lng: camera_traps[0]['lng']},
    });
    for (let i = 0; i < camera_traps.length; i++){
        new google.maps.Marker({
            position: {lat: camera_traps[i]['lat'], lng: camera_traps[i]['lng']},
            map: map,
            title: camera_traps[i]['title']
        });
    }
  }
</script>
{% endblock %}
