{% extends '_base.html' %}
{% load static %}

{% block title %} Explore | {% endblock %}
<!-- Set corresponding nav pill to active -->
{% block nav_explore %}active{% endblock nav_explore %}

{% block content %}
<div class="container mt-5 pt-5">
    <div class="row justify-content-evenly">
        <div class="col-12 col-md-10 col-lg-8">
            Explore tab under construction
        </div>
        {% if user.is_active and user.is_staff %}
        <div class="col-12 col-md-10 col-lg-8">
            <h2><a href="{% url 'explore:map' %}">View Map</a></h2>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}
