{% extends 'base.html' %}
{% load static %}

<!-- Set corresponding nav pill to active -->
{% block nav_explore %}active{% endblock nav_explore %}

{% block content %}
    <!--The div element for the map -->
    <div class="map">
        <div id="map"></div>
    </div>
{% endblock content %}
{% comment %} TODO: Move map rendering js to the main.js file {% endcomment %}
{% comment %} TODO: Separate the key out and move it to secrets. Also, restrict the new key's usage to the new site's URL {% endcomment %}
{% block footer_includes %}
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChQHmyVErROW2lP_WQY3DtdrudOXs2pa8&callback=initMap&libraries=&v=weekly"
        async
        ></script>
    <script>
    const camera_stations = [
        {% for camera_station in object_list %}
            {lat: {{ camera_station.latitude }}, lng: {{ camera_station.longitude }}, title: "{{ camera_station.micro_site }}"},
        {% endfor %}
    ]
    // Initialize and add the map
    function initMap() {
        // The map, centered at the first co-ordinate
        const map = new google.maps.Map(document.getElementById("map"), {
        zoom: 9,
        center: {lat: camera_stations[0]['lat'], lng: camera_stations[0]['lng']},
        });
        for (let i = 0; i < camera_stations.length; i++){
            new google.maps.Marker({
                position: {lat: camera_stations[i]['lat'], lng: camera_stations[i]['lng']},
                map: map,
                title: camera_stations[i]['title']
            });
        }
    }
    </script>
{% endblock footer_includes %}

{% comment %}
    Void out the footer to enable easy full page map scrolling
    This will probably change if the page is updated to include more information in addition to mapping
 {% endcomment %}
{% block footer %}

{% endblock %}
