{% extends '_base.html' %}
{% load static %}
{% load compress %}


<!-- Set corresponding nav pill to active -->
{% block title %} Popular Images {% endblock %}
{% block nav_explore %}active{% endblock nav_explore %}

{% block content %}

<div class="container py-3 my-3">
    <div class="row pt-2 mt-2 text-center">
        <p>
            {% if paged_images.has_previous %}
            <a href="?page=1">&laquo; first</a>&nbsp;&nbsp;
            <a href="?page={{ paged_images.previous_page_number }}">&laquo;previous</a>
            {% endif %}
            <span class="current">
                &nbsp;&nbsp;Page {{ paged_images.number }} of {{ paged_images.paginator.num_pages }}&nbsp;&nbsp;
            </span>

            {% if paged_images.has_next %}
            <a href="?page={{ paged_images.next_page_number }}">next&raquo;</a>&nbsp;&nbsp;
            <a href="?page={{ paged_images.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </p>
    </div>

    <div class="row pt-2 mt-2 justify-content-center">
        {% for image in paged_images %}
        <div class="col-12 col-md-6 col-xl-4 text-center py-3">
            <div>Vote count: {{ image.social_media_worthy }}</div>
            <a
                href="{% url 'images:image' image.id %}"
                class="text-decoration-none"
            >
                <img
                    id="{{image.id}}"
                    class="img-fluid my-2"
                    src="{% get_media_prefix %}{{image.thumbnail_gcloud_path}}"
                >
            </a>
            <div class="mb-2">Timestamp:
                {% if image.trigger_timestamp %}{{image.trigger_timestamp}}{% else %}N/A{% endif %}
            </div>
            <a href="{% url 'images:image' image.id %}"><button
                    type="button"
                    class="btn btn-light"
                >View/Edit</button></a>
            <a
                href="{{dropbox_prefix}}{{image.dropbox_file_path}}"
                target="_blank"
            ><button
                    type="button"
                    class="btn btn-light"
                >View Original</button></a>

            {% if user.is_staff %}
                <button type="button" value="{{image.id}}" id="" class="btn btn-warning removePopularImageBtn" data-bs-toggle="modal" data-bs-target="#removePopularImageModal">
                    Remove Image
                  </button>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <div class="row pt-2 mt-2 text-center">
        <p>
            {% if paged_images.has_previous %}
            <a href="?page=1">&laquo; first</a>&nbsp;&nbsp;
            <a href="?page={{ paged_images.previous_page_number }}">&laquo;previous</a>
            {% endif %}
            <span class="current">
                &nbsp;&nbsp;Page {{ paged_images.number }} of {{ paged_images.paginator.num_pages }}&nbsp;&nbsp;
            </span>

            {% if paged_images.has_next %}
            <a href="?page={{ paged_images.next_page_number }}">next&raquo;</a>&nbsp;&nbsp;
            <a href="?page={{ paged_images.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </p>
    </div>



    <!-- Modal - Remove from popular images -->
    <div class="modal fade" id="removePopularImageModal" tabindex="-1"
        aria-labelledby="removePopularImageModalLabel" aria-hidden="true"
        data-image_id="">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removePopularImageModalLabel">Remove Image</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form id="removePopularImageForm" action="" method="POST">
                {% csrf_token %}
                <input type="hidden" name="social_media_worthy" value="0">
                <input type="hidden" value="" name="page" />
                <div class="modal-body">
                    Remove image from "Popular Images"
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-danger">Yes</button>
                </div>
            </form>

            </div>
        </div>
    </div>
</div>

{% compress js %}
<script src="{% static 'js/explore/popular_images.js' %}" type="text/javascript" charset="utf-8"></script>
{% endcompress %}

{% endblock content %}
