{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Confirm Update {% endblock %}
<!-- Set corresponding nav pill to active -->
{% block nav_explore %}active{% endblock nav_explore %}

{% block header_includes %}
<link
    href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
    rel="stylesheet"
/>
{% endblock header_includes %}
{% block content %}
<div class="container">
    <div class="row justify-content-evenly mt-3 pt-3">
        <div class="col-12 col-md-10 col-lg-8">
            {% if form.errors %}
            <div
                class="alert alert-danger"
                role="alert"
            >
                Server error! Please try again or contact admin.
                <div class="alert alert-danger">
                    {{ form.errors }}
                </div>
            </div>
            {% endif %}
            <h2>Confirm Update</h2>
            <br>
            <div id="upload-count-text" class="alert alert-warning" role="alert">
                {{ message }}
            </div>
            <br>
            {% if downgrade_set %}
                <text style="font-size: 24px"><b>Downgrade Priority To 'High'</b></text><br>
                <text><i>({{ num_records_to_downgrade }} sets with {{ downgrade_sets_image_count }} images total)</i></text>
                <br>
                <text style="font-size: 12px;"><i>*Only one group of sets can be Highest priority at once. The old sets will be pushed down to High priority.</i></text>
                <table style="margin-top: 15px">
                    <thead>
                        <tr>
                            <th scope="col">Set ID</th>
                            <th scope="col">Station ID</th>
                            <th scope="col">Microsite</th>
                            <th scope="col">Macrosite</th>
                            <th scope="col">Old Priority</th>
                            <th scope="col">New Priority</th>
                            <th scope="col">Image Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for set in downgrade_set %}
                            <tr>
                                <td>{{ set.id }}</td>
                                <td>{{ set.camera_station.station_id }}</td>
                                <td>{{ set.camera_station.micro_site }}</td>
                                <td>{{ set.camera_station.micro_site.macro_site }}</td>
                                <td>{{ set.get_priority_display }}</td>
                                <td style="color: red"><b>High</b></td>
                                <td>{{ set.images.all.count }}</td>
                            </tr>
                        {% endfor %}
                    <tbody>
                </table>
                <hr>
            {% endif %}
            <text style="font-size: 24px"><b>Change Priority To '{{ new_priority_display }}'</b></text><br>
            <text><i>({{ num_records_to_update }} sets with {{ update_sets_image_count }} images total)</i></text>
            <table>
                <thead>
                    <tr>
                        <th scope="col">Set ID</th>
                        <th scope="col">Station ID</th>
                        <th scope="col">Microsite</th>
                        <th scope="col">Macrosite</th>
                        <th scope="col">Old Priority</th>
                        <th scope="col">New Priority</th>
                        <th scope="col">Image Count</th>
                    </tr>
                </thead>
                <tbody>
                    {% for set in search_set %}
                        <tr>
                            <td>{{ set.id }}</td>
                            <td>{{ set.camera_station.station_id }}</td>
                            <td>{{ set.camera_station.micro_site }}</td>
                            <td>{{ set.camera_station.micro_site.macro_site }}</td>
                            <td>{{ set.get_priority_display }}</td>
                            <td style="color: {% if new_priority < set.priority %}red{% elif new_priority > set.priority %}green{% endif %}">
                                <b>{{ new_priority_display }}</b>
                            </td>
                            <td>{{ set.images.all.count }}</td>
                        </tr>
                    {% endfor %}
                <tbody>
            </table>
            <div class="row justify-content-center">
            <form id="my-form" method="post" action="{% url 'explore:confirm_update' %}">
                {% csrf_token %}
                <div class="form-group row mt-4 ">
                    <div class="col-md-12 d-flex justify-content-center">
                        <button type="submit" name="submit" class="btn btn-primary mx-2">Update</button>
                        <a href="{% url 'explore:set_priority' %}" class="btn btn-secondary mx-2">Cancel</a>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block footer_includes %}
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{% endblock footer_includes %}
