
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: left;
    }

    h1, h2, font {
        font-family: verdana, arial, sans-serif;
        // font-size: 0.8em;
    }
</style>

<h1>{{specie}}</h1>
<h2>Sighting: {{date_sighting}}</h2>
<h2>Macrosite: {{macrosite}}</h2>
<h2>Microsite: {{microsite}}</h2>


{% for il in images_list %}
    <a href='https://wildepod.org/images/image/{{ il.id }}'>
        <img style="width:200px" src='https://storage.googleapis.com/wildepod_prod/media/{{ il.thumbnail }}'/>
    </a>
    <br>
{% endfor %}

