{% extends '_base.html' %}
{% load static %}
{% load humanize %}


{% block title %} Workflow state {% endblock %}
<!-- Set corresponding nav pill to active -->
{% block nav_explore %}active{% endblock nav_explore %}

{% block header_includes %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />


<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="bootstrap" viewBox="0 0 118 94">
      <title>Bootstrap</title>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"></path>
    </symbol>
    <symbol id="people-circle" viewBox="0 0 16 16">
      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
      <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"></path>
    </symbol>
    <symbol id="collection" viewBox="0 0 16 16">
      <path d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zm1.5.5A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13z"></path>
    </symbol>
    <symbol id="toggles2" viewBox="0 0 16 16">
      <path d="M9.465 10H12a2 2 0 1 1 0 4H9.465c.34-.588.535-1.271.535-2 0-.729-.195-1.412-.535-2z"></path>
      <path d="M6 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 1a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm.535-10a3.975 3.975 0 0 1-.409-1H4a1 1 0 0 1 0-2h2.126c.091-.355.23-.69.41-1H4a2 2 0 1 0 0 4h2.535z"></path>
      <path d="M14 4a4 4 0 1 1-8 0 4 4 0 0 1 8 0z"></path>
    </symbol>
  </svg>

{% endblock header_includes %}

{% block content %}
<div class="container">

    <div class="row  mt-3 pt-3">
        <h1>Workflow State</h1>
        <p>
            This page displays the state of each step in the workflow of the images processing pipeline.<br>
            <small>
            ** All texts and icons are subject to change. Please check. **<Br>
            </small>
            {% comment %} The pipeline is composed of the main steps:

            <ul>
                <li>Image upload</li>
                <li>Image processing</li>
                <li>Image annotation</li>
                <li>Species annotation</li>
                <li>Human activity</li>
                <li>Species behaviour</li>
            </ul> {% endcomment %}
        </p>

        <hr/>

        <div class="container px-4 py-5" id="featured-3">
            <h2>Key Findings</h2>
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                <div class="feature col">
                  <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                    <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"></use></svg>
                  </div>
                  <h3>Uploaded Images: {{ total_images|intcomma }} </h3>
                  <p>Total number of images uploaded to WildePod.</p>
                </div>
                <div class="feature col">
                  <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                    <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
                  </div>
                  <h3>Not Processed Images: {{ total_images_not_processed|intcomma }} </h3>
                  <p>Images ready to be processed by MegaDetector.</p>
                </div>
                <div class="feature col">
                  <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                    <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>
                  </div>
                  <h3>Processed Images: {{ total_images_processed|intcomma }} </h3>
                  <p>Images processed by MegaDetector. They are in the annotation process.</p>
                </div>
              </div>
        </div>
    </div>

    <hr/>

    <div class="row  mt-3 pt-3">
        <h2>Blank Annotation Images: {{ untouched_images|intcomma }}</h2>
        <p>
            Untouched images, ready to annotate.
        </p>
        <div class="row justify-content-evenly mt-3 pt-3">
            <table id="prioritezed-images">
                <thead>
                    <tr>
                        <th>Macrosite</th>
                        <th class="text-center">Priority</th>
                        <th>From</th>
                        <th>To</th>
                        <th class="text-right">Total</th>
                    </tr>
                </thead>
                <tbody></tbody>


                <tr>
                    <td colspan="5" class="text-center">
                        <div id="prioritezed_images-spinner">
                            <div style="width: 2rem; height: 2rem;" class="spinner-border text-success" role="status"></div>
                            <br>
                            <small>Wait a minute for the table to load.</small>
                            {% comment %}
                                Maybe split return data in 3 priorities and show 3 different spinners.
                                <div id="prioritezed_images-spinner2"  style="width: 2rem; height: 2rem;" class="spinner-border text-warning" role="status">
                                </div>&nbsp;
                                <div id="prioritezed_images-spinner3"  style="width: 2rem; height: 2rem;" class="spinner-border text-primary" role="status">
                            {% endcomment %}
                        </div>
                    </td>
                </tr>
            </table>
            <div id="prioritezed_images-message"></div>
        </div>
    </div>

    <hr/>


    <div class="row  mt-3 pt-3">
        <h2>Uncertain Annotations</h2>
        <p>
            Images in the annotation process, to be double checked. <br>
            Images annotated by you should not be displayed for no duplication effort.
        </p>
        <div class="row justify-content-evenly mt-3 pt-3">
            <table id="uncertain-images">
                <thead>
                    <tr>
                        <th>Macrosite</th>
                        <th class="text-center">Priority</th>
                        <th>From</th>
                        <th>To</th>
                        <th class="text-right">Total</th>
                    </tr>
                </thead>
                <tbody></tbody>


                <tr>
                    <td colspan="5" class="text-center">
                        <div id="uncertain_images-spinner">
                            <div style="width: 2rem; height: 2rem;" class="spinner-border text-success" role="status"></div>
                            <br>
                            <small>Wait a minute for the table to load.</small>
                            &nbsp;
                        </div>
                    </td>
                </tr>
            </table>
            <div id="uncertain_images-message"></div>
        </div>
    </div>



    <hr/>


    <div class="row  mt-3 pt-3">
        <h2>Species Annotation</h2>
        <p>
            .... work in progress ... No data to be displayed yet.
        </p>
        <div class="row justify-content-evenly mt-3 pt-3">
            <table id="species-annotation">
                <thead>
                    <tr>
                        <th>Macrosite</th>
                        <th class="text-center">Priority</th>
                        <th>From</th>
                        <th>To</th>
                        <th class="text-right">Total</th>
                    </tr>
                </thead>
                <tbody></tbody>


                {% comment %} <tr>
                    <td colspan="5" class="text-center">
                        <div id="species_annotation-spinner">
                            <div style="width: 2rem; height: 2rem;" class="spinner-border text-success" role="status"></div>
                            <br>
                            <small>Wait a minute for the table to load.</small>
                            &nbsp;
                        </div>
                    </td>
                </tr> {% endcomment %}
            </table>
            <div id="species_annotation-message"></div>
        </div>
    </div>



    <hr/>


    <div class="row  mt-3 pt-3">
        <h2>Animal Activity</h2>
        <p>
            .... work in progress ...  No data to be displayed yet.
        </p>
        <div class="row justify-content-evenly mt-3 pt-3">
            <table id="animal-activity">
                <thead>
                    <tr>
                        <th>Macrosite</th>
                        <th class="text-center">Priority</th>
                        <th>From</th>
                        <th>To</th>
                        <th class="text-right">Total</th>
                    </tr>
                </thead>
                <tbody></tbody>


                {% comment %} <tr>
                    <td colspan="5" class="text-center">
                        <div id="animal_activity-spinner">
                            <div style="width: 2rem; height: 2rem;" class="spinner-border text-success" role="status"></div>
                            <br>
                            <small>Wait a minute for the table to load.</small>
                            &nbsp;
                        </div>
                    </td>
                </tr> {% endcomment %}
            </table>
            <div id="animal_activity-message"></div>
        </div>
    </div>






    <hr/>


    <div class="row  mt-3 pt-3">
        <h2>Human Behavior</h2>
        <p>
            .... work in progress ... No data to be displayed yet.
        </p>
        <div class="row justify-content-evenly mt-3 pt-3">
            <table id="human-behavior">
                <thead>
                    <tr>
                        <th>Macrosite</th>
                        <th class="text-center">Priority</th>
                        <th>From</th>
                        <th>To</th>
                        <th class="text-right">Total</th>
                    </tr>
                </thead>
                <tbody></tbody>


                {% comment %} <tr>
                    <td colspan="5" class="text-center">
                        <div id="human_behavior-spinner">
                            <div style="width: 2rem; height: 2rem;" class="spinner-border text-success" role="status"></div>
                            <br>
                            <small>Wait a minute for the table to load.</small>
                            &nbsp;
                        </div>
                    </td>
                </tr> {% endcomment %}
            </table>
            <div id="human_behavior-message"></div>
        </div>
    </div>



</div>



{% endblock content %}

{% block footer_includes %}
<script>
    format_date = (dt) => {
        dt = new Date(dt)
        return dt.getFullYear() + '-' + (parseInt(dt.getMonth())+1) + '-' + dt.getDate()
      }

    add_rows = (result) => {
        $('#prioritezed_images').rows.add(result); // add to DataTable instance
        $('#prioritezed_images').draw();
    }

    $(document).ready(function() {
      $('#prioritezed_images-spinner').show(); // Show the spinner

      $.ajax({
        url: '/explore/prioritized-images/2/',
        type: 'GET',
        dataType: 'json',
        success: function(data) {
          $('#prioritezed_images-message').text(data.message); // Update the HTML with the response data
          $('#prioritezed_images-spinner').hide(); // Hide the spinner

          $('#prioritezed-images').dataTable( {
            "data": data.prioritezed_images,
            "pageLength": 100,
            columnDefs: [
                {
                    targets:4,
                    render: function ( data, type, row, meta ) {
                        if(type === 'display'){
                            data = '<a target="_blank" href=/images/annotate/objects?start_date=' + format_date(row[2]) +
                                        '&end_date=' + format_date(row[3]) +
                                        '&macrosite_name=' + encodeURIComponent(row[0]) +  '&camera_id=None' + '>' + data +
                                    '</a>'
                        }
                        return data;
                    }
                }
            ]
          });
        },
        error: function(jqXHR, textStatus, errorThrown) {
          console.log('Error:', textStatus, errorThrown);
          $('#prioritezed_images-spinner').hide(); // Hide the spinner
        }
      });




      $.ajax({
        url: '/explore/uncertain-images/',
        type: 'GET',
        dataType: 'json',
        success: function(data) {
          $('#uncertain_images-message').text(data.message); // Update the HTML with the response data
          $('#uncertain_images-spinner').hide(); // Hide the spinner

          $('#uncertain-images').dataTable( {
            "data": data.prioritezed_images,
            "pageLength": 100,
            columnDefs: [
                {
                    targets:4,
                    render: function ( data, type, row, meta ) {
                        if(type === 'display'){
                            data = '<a target="_blank" href=/images/annotate/objects?start_date=' + format_date(row[2]) +
                                        '&end_date=' + format_date(row[3]) +
                                        '&macrosite_name=' + encodeURIComponent(row[0]) +  '&camera_id=None' + '>' + data +
                                    '</a>'
                        }
                        return data;
                    }
                }
            ]
          });
        },
        error: function(jqXHR, textStatus, errorThrown) {
          console.log('Error:', textStatus, errorThrown);
          $('#uncertain_images-spinner').hide(); // Hide the spinner
        }
      });


    });
  </script>

  <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>

{% endblock footer_includes %}
