{% extends '_base.html' %}
{% load static %}
{% load humanize %}


{% block title %} Workflow state {% endblock %}
<!-- Set corresponding nav pill to active -->
{% block nav_explore %}active{% endblock nav_explore %}

{% block header_includes %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />


<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="bootstrap" viewBox="0 0 118 94">
      <title>Bootstrap</title>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"></path>
    </symbol>
    <symbol id="people-circle" viewBox="0 0 16 16">
      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
      <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"></path>
    </symbol>
    <symbol id="collection" viewBox="0 0 16 16">
      <path d="M2.5 3.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm2-2a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zm1.5.5A.5.5 0 0 1 1 13V6a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-13z"></path>
    </symbol>
    <symbol id="toggles2" viewBox="0 0 16 16">
      <path d="M9.465 10H12a2 2 0 1 1 0 4H9.465c.34-.588.535-1.271.535-2 0-.729-.195-1.412-.535-2z"></path>
      <path d="M6 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 1a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm.535-10a3.975 3.975 0 0 1-.409-1H4a1 1 0 0 1 0-2h2.126c.091-.355.23-.69.41-1H4a2 2 0 1 0 0 4h2.535z"></path>
      <path d="M14 4a4 4 0 1 1-8 0 4 4 0 0 1 8 0z"></path>
    </symbol>
  </svg>

{% endblock header_includes %}

{% block content %}
<div class="container">

    <div class="row  mt-3 pt-3">
        <h1>Workflow State</h1>
        <p>
            This page displays the state of each step in the workflow of the images processing pipeline.<br>
            <small>
            ** Texts and icons are subject to change. Please check. **<Br>
            ** All data comes from database, however data displayed in the tables are static on this page.
            The information will be cached in a bucket to not overload servers.
            **<Br>
            </small>
            {% comment %} The pipeline is composed of the main steps:

            <ul>
                <li>Image upload</li>
                <li>Image processing</li>
                <li>Image annotation</li>
                <li>Species annotation</li>
                <li>Human activity</li>
                <li>Species behaviour</li>
            </ul> {% endcomment %}
        </p>

        <hr/>

        <div class="container px-4 py-5" id="featured-3">
            <h2>Key Findings</h2>
            <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
                <div class="feature col">
                  <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                    <svg class="bi" width="1em" height="1em"><use xlink:href="#collection"></use></svg>
                  </div>
                  <h3>Uploaded Images: {{ total_images|intcomma }} </h3>
                  <p>Total number of images uploaded to WildePod.</p>
                </div>
                <div class="feature col">
                  <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                    <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
                  </div>
                  <h3>Not Processed Images: {{ total_images_not_processed|intcomma }} </h3>
                  <p>Images ready to be processed by MegaDetector.</p>
                </div>
                <div class="feature col">
                  <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                    <svg class="bi" width="1em" height="1em"><use xlink:href="#people-circle"></use></svg>
                  </div>
                  <h3>Processed Images: {{ total_images_processed|intcomma }} </h3>
                  <p>Images processed by MegaDetector. They are in the annotation process.</p>
                </div>
              </div>
        </div>
    </div>

    <hr/>

    <div class="row  mt-3 pt-3">
        <h2>Blank Annotation Images: {{ untouched_images|intcomma }}</h2>
        <p>
            Untouched images, ready to annotate.
        </p>
        <div class="row justify-content-evenly mt-3 pt-3">
            <table id="prioritezed-images">
                <thead>
                    <tr>
                        <th>Macrosite</th>
                        <th class="text-center">Priority</th>
                        <th>From</th>
                        <th>To</th>
                        <th class="text-right">Total</th>
                    </tr>
                </thead>
                <tbody></tbody>


                <tr>
                    <td colspan="5" class="text-center">
                        <div id="prioritezed_images-spinner">
                            <div style="width: 2rem; height: 2rem;" class="spinner-border text-success" role="status"></div>
                            <br>
                            <small>Wait a minute for the table to load.</small>
                            {% comment %}
                                Maybe split return data in 3 priorities and show 3 different spinners.
                                <div id="prioritezed_images-spinner2"  style="width: 2rem; height: 2rem;" class="spinner-border text-warning" role="status">
                                </div>&nbsp;
                                <div id="prioritezed_images-spinner3"  style="width: 2rem; height: 2rem;" class="spinner-border text-primary" role="status">
                            {% endcomment %}
                        </div>
                    </td>
                </tr>
            </table>
            <div id="prioritezed_images-message"></div>
        </div>
    </div>

    <hr/>


    <div class="row  mt-3 pt-3">
        <h2>Uncertain Annotations</h2>
        <p>
            Images in the annotation process, to be double checked. <br>
            Images annotated by you should not be displayed for no duplication effort.
        </p>
        <div class="row justify-content-evenly mt-3 pt-3">
            <table id="uncertain-images">
                <thead>
                    <tr>
                        <th>Macrosite</th>
                        <th class="text-center">Priority</th>
                        <th>From</th>
                        <th>To</th>
                        <th class="text-right">Total</th>
                    </tr>
                </thead>
                <tbody></tbody>


                <tr>
                    <td colspan="5" class="text-center">
                        <div id="uncertain_images-spinner">
                            <div style="width: 2rem; height: 2rem;" class="spinner-border text-success" role="status"></div>
                            <br>
                            <small>Wait a minute for the table to load.</small>
                            &nbsp;
                        </div>
                    </td>
                </tr>
            </table>
            <div id="uncertain_images-message"></div>
        </div>
    </div>



    <hr/>


    <div class="row  mt-3 pt-3">
        <h2>Species Annotation</h2>
        <p>
            .... work in progress ... Species data will be displayed here.
        </p>
        <div class="row justify-content-evenly mt-3 pt-3">
            <table id="species-annotation">
                <thead>
                    <tr>
                        <th>Macrosite</th>
                        <th class="text-center">Priority</th>
                        <th>From</th>
                        <th>To</th>
                        <th class="text-right">Total</th>
                    </tr>
                </thead>
                <tbody></tbody>


                {% comment %} <tr>
                    <td colspan="5" class="text-center">
                        <div id="species_annotation-spinner">
                            <div style="width: 2rem; height: 2rem;" class="spinner-border text-success" role="status"></div>
                            <br>
                            <small>Wait a minute for the table to load.</small>
                            &nbsp;
                        </div>
                    </td>
                </tr> {% endcomment %}
            </table>
            <div id="species_annotation-message"></div>
        </div>
    </div>



    <hr/>


    <div class="row  mt-3 pt-3">
        <h2>Animal Activity</h2>
        <p>
            .... work in progress ...  Animal activity data will be displayed here.
        </p>
        <div class="row justify-content-evenly mt-3 pt-3">
            <table id="animal-activity">
                <thead>
                    <tr>
                        <th>Macrosite</th>
                        <th class="text-center">Priority</th>
                        <th>From</th>
                        <th>To</th>
                        <th class="text-right">Total</th>
                    </tr>
                </thead>
                <tbody></tbody>


                {% comment %} <tr>
                    <td colspan="5" class="text-center">
                        <div id="animal_activity-spinner">
                            <div style="width: 2rem; height: 2rem;" class="spinner-border text-success" role="status"></div>
                            <br>
                            <small>Wait a minute for the table to load.</small>
                            &nbsp;
                        </div>
                    </td>
                </tr> {% endcomment %}
            </table>
            <div id="animal_activity-message"></div>
        </div>
    </div>






    <hr/>


    <div class="row  mt-3 pt-3">
        <h2>Human Behavior</h2>
        <p>
            .... work in progress ... Human behaviour data will be displayed here.
        </p>
        <div class="row justify-content-evenly mt-3 pt-3">
            <table id="human-behavior">
                <thead>
                    <tr>
                        <th>Macrosite</th>
                        <th class="text-center">Priority</th>
                        <th>From</th>
                        <th>To</th>
                        <th class="text-right">Total</th>
                    </tr>
                </thead>
                <tbody></tbody>


                {% comment %} <tr>
                    <td colspan="5" class="text-center">
                        <div id="human_behavior-spinner">
                            <div style="width: 2rem; height: 2rem;" class="spinner-border text-success" role="status"></div>
                            <br>
                            <small>Wait a minute for the table to load.</small>
                            &nbsp;
                        </div>
                    </td>
                </tr> {% endcomment %}
            </table>
            <div id="human_behavior-message"></div>
        </div>
    </div>



</div>



{% endblock content %}

{% block footer_includes %}
<script>
    format_date = (dt) => {
        dt = new Date(dt)
        return dt.getFullYear() + '-' + (parseInt(dt.getMonth())+1) + '-' + dt.getDate()
      }

    $(document).ready(function() {

        /*
        *   Loading static data !!!
        */
        $('#prioritezed_images-spinner').hide(); // Hide the spinner
        $('#uncertain_images-spinner').hide(); // Hide the spinner

        let prioritezedImages = {
            "result": "success",
            "prioritezed_images": [
                [
                    "Chileno Valley Ranch",
                    "2",
                    "2022-05-20T03:45:27Z",
                    "2022-07-14T19:31:20Z",
                    4016
                ],
                [
                    "Filoli Estate",
                    "1",
                    "2019-08-01T20:23:49Z",
                    "2023-03-06T20:32:23Z",
                    9313
                ],
                [
                    "Indian Tree Open Space",
                    "2",
                    "2023-02-22T20:52:45Z",
                    "2023-03-27T20:08:37Z",
                    1624
                ],
                [
                    "Indian Tree Open Space",
                    "1",
                    "2023-01-06T21:28:22Z",
                    "2023-02-22T20:43:43Z",
                    4256
                ],
                [
                    "Kings Mountain",
                    "1",
                    "2017-01-02T02:49:00Z",
                    "2023-03-02T19:50:17Z",
                    45136
                ],
                [
                    "La Honda",
                    "1",
                    "2021-10-30T19:22:17Z",
                    "2022-11-19T19:26:00Z",
                    7842
                ],
                [
                    "Lynch Canyon",
                    "1",
                    "2022-09-28T21:49:02Z",
                    "2023-03-27T18:57:47Z",
                    3853
                ],
                [
                    "Marin Municipal Water District",
                    "2",
                    "2020-10-23T20:30:05Z",
                    "2023-03-07T18:51:49Z",
                    53449
                ],
                [
                    "Marin Municipal Water District",
                    "1",
                    "2022-09-16T20:49:57Z",
                    "2023-02-13T18:15:32Z",
                    2928
                ],
                [
                    "Marinwood Open Space Preserve",
                    "2",
                    "2020-12-23T16:12:13Z",
                    "2023-03-20T13:52:50Z",
                    7777
                ],
                [
                    "Marinwood Open Space Preserve",
                    "1",
                    "2021-01-20T18:52:57Z",
                    "2022-12-23T00:19:12Z",
                    897
                ],
                [
                    "Mark West Springs Road",
                    "1",
                    "2022-12-22T12:16:56Z",
                    "2023-03-10T19:38:46Z",
                    695
                ],
                [
                    "MidPeninsula Open Space Preserve",
                    "1",
                    "2020-05-19T00:48:07Z",
                    "2022-11-25T23:37:03Z",
                    62295
                ],
                [
                    "Milagra Ridge",
                    "1",
                    "2022-06-23T17:20:36Z",
                    "2022-11-03T19:37:14Z",
                    55
                ],
                [
                    "Montara State Beach/McNee Ranch",
                    "2",
                    "2022-07-05T14:45:20Z",
                    "2023-01-29T19:49:56Z",
                    19915
                ],
                [
                    "Mount Diablo State Park",
                    "2",
                    "2012-02-08T06:48:05Z",
                    "2023-03-27T00:01:58Z",
                    12092
                ],
                [
                    "Mount Diablo State Park",
                    "1",
                    "2022-12-18T00:05:35Z",
                    "2023-02-18T17:58:15Z",
                    767
                ],
                [
                    "Mount Tamalpais State Park",
                    "2",
                    "2022-07-19T17:40:00Z",
                    "2023-03-24T16:26:35Z",
                    18731
                ],
                [
                    "Mount Tamalpais State Park",
                    "1",
                    "2022-09-13T19:09:27Z",
                    "2022-10-31T16:54:27Z",
                    3039
                ],
                [
                    "Mt. Burdell Preserve",
                    "2",
                    "2023-02-16T21:15:52Z",
                    "2023-03-20T19:55:23Z",
                    5573
                ],
                [
                    "Mt. Wanda",
                    "1",
                    "2023-02-14T18:58:57Z",
                    "2023-03-12T22:14:45Z",
                    1679
                ],
                [
                    "Olompali State Park",
                    "2",
                    "2020-07-16T21:32:10Z",
                    "2023-03-03T21:36:47Z",
                    15131
                ],
                [
                    "Pacifica Land Trust",
                    "1",
                    "2022-06-05T21:47:01Z",
                    "2023-02-14T20:05:42Z",
                    5120
                ],
                [
                    "Phleger Estate (NPS)",
                    "1",
                    "2020-03-08T18:34:32Z",
                    "2022-09-24T18:42:00Z",
                    7521
                ],
                [
                    "Point Reyes National Seashore",
                    "2",
                    "2021-10-23T21:24:16Z",
                    "2023-03-15T17:53:41Z",
                    22244
                ],
                [
                    "Point Reyes National Seashore",
                    "1",
                    "2022-03-07T01:31:19Z",
                    "2023-02-23T20:48:57Z",
                    31677
                ],
                [
                    "Rancho Corral de Tierra (NPS)",
                    "1",
                    "2013-01-01T08:00:01Z",
                    "2023-02-10T20:04:57Z",
                    16875
                ],
                [
                    "Roy Redwoods Preserve",
                    "2",
                    "2022-11-10T19:51:24Z",
                    "2023-01-24T00:06:28Z",
                    1289
                ],
                [
                    "Roy Redwoods Preserve",
                    "1",
                    "2022-11-30T20:18:04Z",
                    "2023-03-02T21:55:51Z",
                    951
                ],
                [
                    "SF Archers Range",
                    "1",
                    "2022-05-25T18:10:27Z",
                    "2023-03-02T18:39:27Z",
                    2783
                ],
                [
                    "SFPUC",
                    "3",
                    "2021-08-29T18:42:17Z",
                    "2023-02-21T19:47:29Z",
                    1700
                ],
                [
                    "Samuel P Taylor State Park",
                    "2",
                    "2021-11-02T02:57:10Z",
                    "2023-03-07T22:29:45Z",
                    9728
                ],
                [
                    "San Bruno Mountain State Park",
                    "2",
                    "2022-10-23T23:00:13Z",
                    "2023-01-15T20:40:17Z",
                    112
                ],
                [
                    "San Bruno Mountain State Park",
                    "1",
                    "2020-06-17T22:08:22Z",
                    "2023-03-05T21:18:48Z",
                    461
                ],
                [
                    "San Carlos",
                    "1",
                    "2023-02-08T00:24:06Z",
                    "2023-03-07T19:26:32Z",
                    458
                ],
                [
                    "Soulajule Reserviour",
                    "2",
                    "2021-02-24T20:37:58Z",
                    "2023-03-09T01:10:42Z",
                    13953
                ],
                [
                    "Sweeney Ridge",
                    "1",
                    "2022-09-17T16:50:57Z",
                    "2023-02-03T23:22:29Z",
                    19121
                ],
                [
                    "Tierra Linda - Sleepy Hollow Northern Divide Preserve",
                    "2",
                    "2023-02-16T19:15:32Z",
                    "2023-03-25T21:46:00Z",
                    4925
                ],
                [
                    "Walker Creek Ranch",
                    "2",
                    "2021-01-31T00:45:00Z",
                    "2022-11-04T21:26:18Z",
                    7178
                ],
                [
                    "White Hill Open Space Preserve",
                    "2",
                    "2022-09-16T18:25:22Z",
                    "2023-03-09T01:39:54Z",
                    7764
                ],
                [
                    "White Hill Open Space Preserve",
                    "1",
                    "2022-11-30T19:03:08Z",
                    "2022-12-24T17:11:33Z",
                    1979
                ],
                [
                    "Woodside/I-280",
                    "1",
                    "2020-02-12T18:29:24Z",
                    "2022-11-29T23:28:35Z",
                    14636
                ],
                [
                    "Wunderlich County Park",
                    "1",
                    "2019-07-05T20:45:05Z",
                    "2023-03-04T23:09:26Z",
                    70917
                ]
            ]
        }
            $('#prioritezed-images').dataTable( {
                "data": prioritezedImages.prioritezed_images,
                "pageLength": 100,
                columnDefs: [
                    {
                        targets:4,
                        render: function ( data, type, row, meta ) {
                            if(type === 'display'){
                                data = '<a target="_blank" href=/images/annotate/objects?start_date=' + format_date(row[2]) +
                                            '&end_date=' + format_date(row[3]) +
                                            '&macrosite_name=' + encodeURIComponent(row[0]) +  '&camera_id=None' + '>' + data +
                                        '</a>'
                            }
                            return data;
                        }
                    }
                ]
            });
            $('#prioritezed-images').show();



        let uncertainImages = {
            "result": "success",
            "prioritezed_images": [
                [
                    "Marin Municipal Water District",
                    "2",
                    "2020-11-20T11:56:24Z",
                    "2021-11-25T10:33:25Z",
                    20
                ],
                [
                    "MidPeninsula Open Space Preserve",
                    "1",
                    "2020-11-01T16:31:04Z",
                    "2022-07-24T15:19:06Z",
                    498
                ],
                [
                    "Montara State Beach/McNee Ranch",
                    "2",
                    "2022-07-16T20:42:36Z",
                    "2022-07-20T16:09:10Z",
                    5
                ],
                [
                    "Mount Diablo State Park",
                    "2",
                    "2021-07-07T23:16:29Z",
                    "2022-06-06T19:00:42Z",
                    84
                ],
                [
                    "Olompali State Park",
                    "2",
                    "2017-01-01T08:00:33Z",
                    "2022-10-25T09:46:41Z",
                    116
                ],
                [
                    "Phleger Estate (NPS)",
                    "1",
                    "2020-03-08T18:34:30Z",
                    "2022-06-16T02:30:19Z",
                    46
                ],
                [
                    "Point Reyes National Seashore",
                    "2",
                    "2022-04-25T06:01:42Z",
                    "2022-06-18T17:42:50Z",
                    14
                ],
                [
                    "Rancho Corral de Tierra (NPS)",
                    "1",
                    "2013-02-08T14:31:11Z",
                    "2022-06-18T14:50:49Z",
                    8
                ],
                [
                    "Samuel P Taylor State Park",
                    "2",
                    "2015-01-11T05:00:06Z",
                    "2022-08-09T00:46:26Z",
                    76
                ],
                [
                    "Soulajule Reserviour",
                    "2",
                    "2021-02-24T22:24:51Z",
                    "2021-12-30T02:02:02Z",
                    45
                ],
                [
                    "Walker Creek Ranch",
                    "2",
                    "2021-08-08T19:45:08Z",
                    "2021-08-08T19:45:08Z",
                    1
                ],
                [
                    "Wunderlich County Park",
                    "1",
                    "2020-10-15T01:52:11Z",
                    "2020-11-11T21:22:18Z",
                    3
                ]
            ]
        }
        $('#uncertain-images').dataTable( {
            "data": uncertainImages.prioritezed_images,
            "pageLength": 100,
            columnDefs: [
                {
                    targets:4,
                    render: function ( data, type, row, meta ) {
                        if(type === 'display'){
                            data = '<a target="_blank" href=/images/annotate/objects?start_date=' + format_date(row[2]) +
                                        '&end_date=' + format_date(row[3]) +
                                        '&macrosite_name=' + encodeURIComponent(row[0]) +  '&camera_id=None' + '>' + data +
                                    '</a>'
                        }
                        return data;
                    }
                }
            ]
        });
        $('#prioritezed-images').show();




    /*
    * Load from here, from some bucket
    */


    /*
      $('#prioritezed_images-spinner').show(); // Show the spinner

      $.ajax({
        url: '/explore/prioritized-images/',
        type: 'GET',
        dataType: 'json',
        success: function(data) {
            console.log(data)
          $('#prioritezed_images-message').text(data.message); // Update the HTML with the response data
          $('#prioritezed_images-spinner').hide(); // Hide the spinner

          $('#prioritezed-images').dataTable( {
            "data": data.prioritezed_images,
            "pageLength": 100,
            columnDefs: [
                {
                    targets:4,
                    render: function ( data, type, row, meta ) {
                        if(type === 'display'){
                            data = '<a target="_blank" href=/images/annotate/objects?start_date=' + format_date(row[2]) +
                                        '&end_date=' + format_date(row[3]) +
                                        '&macrosite_name=' + encodeURIComponent(row[0]) +  '&camera_id=None' + '>' + data +
                                    '</a>'
                        }
                        return data;
                    }
                }
            ]
          });
        },
        error: function(jqXHR, textStatus, errorThrown) {
          console.log('Error:', textStatus, errorThrown);
          $('#prioritezed_images-spinner').hide(); // Hide the spinner
        }
      });
    */

      /*
      $.ajax({
        url: '/explore/uncertain-images/',
        type: 'GET',
        dataType: 'json',
        success: function(data) {
            console.log(data)
          $('#uncertain_images-message').text(data.message); // Update the HTML with the response data
          $('#uncertain_images-spinner').hide(); // Hide the spinner

          $('#uncertain-images').dataTable( {
            "data": data.prioritezed_images,
            "pageLength": 100,
            columnDefs: [
                {
                    targets:4,
                    render: function ( data, type, row, meta ) {
                        if(type === 'display'){
                            data = '<a target="_blank" href=/images/annotate/objects?start_date=' + format_date(row[2]) +
                                        '&end_date=' + format_date(row[3]) +
                                        '&macrosite_name=' + encodeURIComponent(row[0]) +  '&camera_id=None' + '>' + data +
                                    '</a>'
                        }
                        return data;
                    }
                }
            ]
          });
        },
        error: function(jqXHR, textStatus, errorThrown) {
          console.log('Error:', textStatus, errorThrown);
          $('#uncertain_images-spinner').hide(); // Hide the spinner
        }
      });
      */


    });
  </script>

  <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>

{% endblock footer_includes %}
