{% extends './base_annotate.html' %}
{% load static %}
<!-- Set corresponding nav pill to active -->
{% block nav_tag %}
    active
{% endblock nav_tag %}
{% block header_includes %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
          rel="stylesheet" />
{% endblock header_includes %}
{% block annotation_count_type %}
    Activity
{% endblock annotation_count_type %}

 {% block include_nav_menu %}
    {% include './page_elements/nav-menu/activity.html' %}
 {% endblock include_nav_menu %}

{% block missing_annotations_element %}
    <div class="row py-3 justify-content-center d-none"
         id="status-missing-activity">
        <div class="col-12">
            <div class="alert alert-warning text-center" role="alert">
                <i class="bi bi-exclamation-triangle-fill"></i>&nbsp;
                <strong>Warning! Some of your bounding boxes don't have a activity.</strong>
                <br>
                If you are sure you want to submit, click "Save" again.
            </div>
        </div>
    </div>
{% endblock missing_annotations_element %}
{% comment %}<script>{% endcomment %}
{% block set_categories %}
    let categories = [
        {% for activity in activity_list %}"{{ activity }}",{% endfor %}
    ];
{% endblock set_categories %}
{% block processor_url %}
    `{% url 'images:activity_annotation_processor' %}`
{% endblock processor_url %}
{% block multiple_category_check %}
    // If it is not a single activity, make sure every entry has a activity
    if (!activity & !skip) {
        if ($("#status-missing-activity").hasClass("d-none")) {
            for (const annotation of anno.getAnnotations()) {
                if (annotation.body[0].value === undefined) {
                    $(".spinner-border").hide();
                    $("#status-missing-activity").removeClass("d-none");
                    setTimeout(function () {
                        $("#status-missing-activity").addClass("d-none");
                    }, 8000);
                    return false;
                }
            }
        }
    }

    if (activity) {
        for (const annotation of anno.getAnnotations()) {
            annotation.body[0].value = activity
            annotation.body[0].confidence = 1.0
        }
    }
{% endblock multiple_category_check %}
{% block submit_annotations %}
    if ($('#activity-list').val() === null) {
        submitAnnotations(skip=false, activity=false);
    }
    else {
        submitAnnotations(skip=false, species=false, activity=$('#activity-list').val());
    }
{% endblock submit_annotations %}
{% block additional_event_handlers %}
    // Toggle between single & multiple activity annotations
    $("#single-activity").click(function(e){
        $(".label-toggle").toggleClass("d-none");
    });

    $("#multiple-activity").click(function(e){
        $(".label-toggle").toggleClass("d-none");
        $('#activity-list').val(null).trigger("change");
    });

    $('#activity-list').select2({
        placeholder: 'Select to tag all boxes',
    });

    // Show the single activity on all annotation previews.
    $('#activity-list').on('change', function () {
        if ($(this).val() !== null) {
            const selectedOption = $('#activity-list').val();
            annotations = anno.getAnnotations();

            for (annotation of annotations) {
                annotation.body[0].value = selectedOption;
                annotation.body[0].confidence = 1.0;
            }

            anno.setAnnotations(annotations);
            renderBoundingBoxPreviews("main-{{ image.id }}", anno);
        }
    });
{% endblock additional_event_handlers %}
{% comment %}</script>{% endcomment %}
