{% extends '_base.html' %}
{% load static %}

<!-- Set corresponding nav pill to active -->
{% block nav_tag %}active{% endblock nav_tag %}

{% block header_includes %}
<link
    href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
    rel="stylesheet"
/>
{% endblock header_includes %}

{% block content %}
<div class="container mt-2 mt-md-3 species-annotation">
    {% if image %}
    <div style="border: 0px dashed black">
        <div class="row">
            <div class="col-12 text-center">
                {% block instruction_text %}
                {% endblock instruction_text %}
            </div>
        </div>

        <div class="row text-center">
            <form method="POST" style="margin-bottom: 15px">
                {% csrf_token %}
                {% block menu_buttons %}
                {% block category_list %}
                {% endblock category_list %}
                <button
                    type="submit"
                    class="btn btn-primary me-2"
                    id="skip_annotations"
                    name="skip_annotations"
                    value="Skip Image"
                    disabled
                ><i class="bi bi-skip-end"></i>&nbsp;&nbsp;&nbsp;Skip <span class="d-none d-sm-inline">Image</span>&nbsp;
                <div id="skip-spinner" class="spinner-border" role="status" style="width: 15px; height: 15px; display: none"></div>
                </button>
                {% block delete_all_boxes_button %}
                {% endblock delete_all_boxes_button %}
                <button
                    type="submit"
                    class="btn btn-primary"
                    id="save_annotations"
                    name="save_annotations"
                    value="Save Annotations"
                    disabled
                ><i class="bi bi-save2"></i>&nbsp;&nbsp;&nbsp;Save <span class="d-none d-sm-inline">Annotations</span>&nbsp;
                <div id="save-spinner" class="spinner-border" role="status" style="width: 15px; height: 15px; display: none"></div>
                </button>
                {% endblock menu_buttons %}
            </form>
        </div>
        {% block missing_annotations_element %}
        {% endblock missing_annotations_element %}
        <div
            class="row py-3 justify-content-center d-none"
            id="status-success"
        >
            <div class="col-12">
                <div
                    class="alert alert-success"
                    role="alert"
                >
                    <i class="bi bi-check-circle-fill"></i>&nbsp;
                    <strong>Success!</strong> Your annotations have been saved.<div class="spinner-border" role="status" style="height: 20px; width: 20px"></div>
                </div>
            </div>
        </div>
        <div
            class="row py-3 justify-content-center d-none"
            id="status-failure"
        >
            <div class="col-12">
                <div
                    class="alert alert-danger text-center"
                    role="alert"
                >
                    {% comment %} TODO: Link to a spreadsheet error form here {% endcomment %}
                    <i class="bi bi-exclamation-triangle-fill"></i>&nbsp;
                    <strong>Error!</strong> Your annotations could not be saved. Please refresh page & try again or report a
                    bug here.
                </div>
            </div>
        </div>
    </div>
<hr>
<div class="container-fluid mt-2 mt-md-3">
    <div class="row mt-2 mt-md-4 justify-content-center">
        <div class="col-xl-9 text-center p-2" oncontextmenu="return false;">
            <button class="btn" onclick="copyImageID()">
                <h6>
                    <b>
                        {{ image.upload.camera_station.station_id }} |
                        {{ image.upload.camera_station.micro_site.macro_site }} |
                        {{ image.upload.camera_station.micro_site.macro_site.county }}
                    </b>
                </h6>
                <i class="bi-clipboard"></i><text style="color: gray; font-size: 12px"><i>&nbsp;&nbsp;Copy Link To Image</i></text>
            </button>
            <img id="{{image.id}}"
                 class="img-fluid m-0 p-0"
                 src="{% get_media_prefix %}{{image.thumbnail_gcloud_path}}">
            {% block image_page_save_button %}
            {% endblock image_page_save_button %}
            <div class="accordion" id="context-image-accordion">
                <div class="accordion-item">
                    <h1 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-context-images" aria-expanded="true" aria-controls="collapse-context-images">
                        Context Images
                        </button>
                    </h1>
                    <div id="collapse-context-images" class="accordion-collapse collapse" data-bs-parent="#context-image-accordion">
                        <div class="accordion-body">
                             <div style="display: flex">
                                <div>
                                    <div id="context-image-container"
                                            style="display: block; height: max-content; white-space: nowrap; margin: 20px; overflow: scroll; overflow-y: visible;"
                                    >
                                        {% for context_image in context_images %}
                                        <img
                                            class="img-fluid rounded context-image"
                                            src="{% get_media_prefix %}{{ context_image.thumbnail_gcloud_path }}"
                                            style="margin-top: 5px; margin-bottom: 5px;{% if context_image.thumbnail_gcloud_path == image.thumbnail_gcloud_path %}border: 5px solid yellow{% endif %}"
                                            onmouseover="displayContextImage(this)" onmouseout="revertContextImage()"
                                        >
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-12 col-md-12 col-sm-12 mt-2 overflow-auto" style="max-height: 665px">
            <div class="accordion mb-3" id="keyboard-shortcuts-accordion">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#shortcut-list" aria-expanded="true">
                        Keyboard Shortcuts
                        </button>
                    </h2>
                    <div id="shortcut-list" class="accordion-collapse collapse" data-bs-parent="#keyboard-shortcuts-accordion">
                        <div class="accordion-body">
                            <ul class="list-group">
                                <li class="list-group-item"><small><kbd><i class="bi bi-mouse"> RIGHTCLICK</i></kbd>&nbsp;&nbsp;<i class="bi bi-arrow-right"></i><i>&nbsp;&nbsp;Hide bounding box</i></small></li>
                                <li class="list-group-item"><small><kbd>BACKSPACE</kbd>&nbsp;&nbsp;<i class="bi bi-arrow-right"></i><i>&nbsp;&nbsp;Delete bounding box</i></small></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="accordion mb-3" id="annotation-history-accordion">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#annotation-history-list" aria-expanded="true">
                        Annotation History
                        </button>
                    </h2>
                    <div id="annotation-history-list" class="accordion-collapse collapse" data-bs-parent="#keyboard-shortcuts-accordion">
                        <div class="accordion-body">
                            <ul class="list-group">
                                <li class="list-group-item">
                                <i>If you've made a mistake, click on a previous image to reannotate.</i></li>

                                {% if previous_queue_images|length == 0 %}
                                <li class="list-group-item">
                                <i>(No annotation history yet.)</i></li>
                                {% endif %}

                                {% for queue_image, annotations in previous_annotation_info %}
                                <li class="list-group-item">
                                    <img class="img-fluid m-0 p-0"
                                         src="{% get_media_prefix %}{{queue_image.thumbnail_gcloud_path}}"
                                         onclick="promptReturnToPreviousImage(`{{ queue_image.id }}`);"
                                    >
                                    <small>Your Annotation(s): {{ annotations }}</small>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" id="options-card">
                <div class="card-header">
                    <text>Options</text>
                </div>
                <div id="options-list" class="accordion-collapse collapse show" data-bs-parent="#options-accordion">
                    <div class="card-body">
                        <button class="social-media-worthy-upvote"
                            data-vote="1"
                            onclick=stageSocialMediaWorthyVote("upvote")
                            id="social-media-worthy-up"
                            style="font-size: 10px; border: 1px solid lightgray; border-radius: 2px; background-color: transparent"
                        >
                <i class="bi bi-hand-thumbs-up"></i>
            </button>
            <button class="social-media-worthy-downvote"
                    data-vote="-1"
                    onclick=stageSocialMediaWorthyVote("downvote")
                    id="social-media-worthy-down"
                    style="font-size: 10px; border: 1px solid lightgray; border-radius: 2px; background-color: transparent">
                <i class="bi bi-hand-thumbs-down"></i>
            </button>
            <label
                style="font-size: 12px; margin-bottom: 8px"
            >
                &nbsp;Social Media Worthy? ({{ image.social_media_worthy }})
            </label>
            <br>
            <input
                class="form-check-input"
                type="checkbox"
                {% if staff_review_needed %}checked="checked"{% endif %}
                id="staff-review-needed"
            >
            <label
                class="form-check-label"
                for="staff-review-needed"
                style="font-size: 14px"
            >
                &nbsp; Flag for Staff Review?
            </label>
            <br>
            {% if user.is_staff %}
            <div>
            <input
                class="form-check-input"
                type="checkbox"
                id="staff-debug-mode"
            >
            <label
                class="form-check-label"
                for="staff-debug-mode"
                style="font-size: 11px;"
            ><i>
                &nbsp; Disable refresh on submit (debug)
            </i></label>
            </div>
            <br>
            <button type="button"
                    class="btn btn-primary me-2"
                    style="background-color: orange; font-size: 14px" data-toggle="modal" data-target="#staffEditModal"
            ><i class="bi bi-person-circle">&nbsp;&nbsp;&nbsp;</i>Admin View</button><br>
            {% include './staff-edit-annotations.html' %}
            {% endif %}
                    </div>
                </div>
            </div>
            {% include './image-manipulators.html' %}

        </div>
    </div>
    <div class="row mt-3 mt-md-5 text-center">
        <h2>Annotations Preview</h2>
        <hr />
    </div>
    <div class="row mt-2 mt-md-4 justify-content-center text-center" id="annotations-preview"></div>
    <br>
    <div class="row text-center justify-content-center">
        <div>
        <button class="btn btn-primary me-2 w-75" onclick="$('#save_annotations').trigger('click'); window.scrollTo(0, 0);"
        ><i class="bi bi-save2"></i>&nbsp;&nbsp;&nbsp;Save <span class="d-none d-sm-inline">Annotations</span>&nbsp;
        </button></div>
    </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-1 mh-1">
</div>
    {% if user.is_authenticated and user.is_staff %}

    <div class="row mt-3 mt-md-5 text-center">
        <h2>Annotations Details</h2>
        <hr />
    </div>
    <div class="row mt-2 mt-md-4 justify-content-center text-center">
        <div class="col-12" id="annotations-details"></div>
        <div>
            <p>
                This session is for staff only, to debug. <br>
                For visibility, we can include details for the pipeline of the image annotation here,
                like Bounding Boxes uncertainty, etc.
            </p>
        </div>
    </div>
    {% include './pipeline-debug-info.html' %}

    {% endif %}

    {% else %}
    <div class="row text-center mt-3 mt-md-5 pt-2 pt-md-5">
        <h3>There are no more images to annotate! Come back later!</h3>
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 mt-2 mt-md-5 pt-2">
            <img
                class="img-fluid rounded"
                src="{% static 'images/puma_sleeping.jpg' %}"
            >
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}

{% block footer_includes %}
<!-- Annotorious generic & custom stylesheets -->
<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@recogito/annotorious@2.6.1/dist/annotorious.min.css"
>
<!-- Jquery & Annotorious -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@recogito/annotorious-shape-labels@latest/dist/annotorious-shape-labels.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@recogito/annotorious@2.6.1/dist/annotorious.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>


<!-- Bootstrap -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script>
    document.querySelector('label[for="staff-review-needed"]').addEventListener('click', function(event) {
        event.preventDefault();
    });

    // Initialize popovers
    $(document).ready(function(){
      $('[data-toggle="popover"]').popover();
    });

    // Set default filter values based on luminance and histogram calculations
    $(`#image-brightness-slider`).val("{{ luminance_adjustment }}"); console.log("{{ luminance_adjustment }}");
    adjustImage();
</script>


<script>
    async function copyImageID() {
        if (navigator.clipboard) {
            navigator.clipboard.writeText(`https://wildepod.org/images/image/{{ image.id }}`).then(function () {
                alert("Link copied to clipboard. Please provide this information to staff if there's an issue.");
            }).catch(function (error) {
                console.error("Clipboard access denied or error: ", error)
                alert("Copy failed. Please check that clipboard permissions are enabled.");
            })
        }
        else {
            alert("Clipboard API is not supported in this browser.");
        }
    }

    function showStatusFailure() {
        $(".spinner-border").hide();
        $("#status-failure").removeClass("d-none");
        setTimeout(function(){
            $("#status-failure").addClass("d-none");
        }, 10000);
    }

    function showStatusSuccess() {
        $(".spinner-border").hide();
        $("#status-success").removeClass("d-none");
        setTimeout(function(){
            $("#status-success").addClass("d-none");
        }, 10000);
    }


    function stageSocialMediaWorthyVote(voteType) {
        let upvoteButton = $("#social-media-worthy-up")
        let downvoteButton = $("#social-media-worthy-down")

        if (voteType == "upvote") {
            if (upvoteButton.css("background-color") == "rgb(144, 238, 144)") {
                upvoteButton.css("background-color", "transparent")
            } else {
                upvoteButton.css("background-color", "lightgreen")
                downvoteButton.css("background-color", "transparent")
            }
        }
        else if (voteType == "downvote") {
            if (downvoteButton.css("background-color") == "rgb(255, 204, 203)") {
                downvoteButton.css("background-color", "transparent")
            }
            else {
                downvoteButton.css("background-color", "#FFCCCB")
                upvoteButton.css("background-color", "transparent")
            }
        }
    }

    contextImageTimeout = null;

    // Show the context image in place of the original
    function displayContextImage(contextImage) {
        var mainImage = document.getElementById("{{ image.id }}");
        mainImage.src = contextImage.src;
        $(".a9s-annotationlayer").hide();

        if (contextImageTimeout) {
            clearTimeout(contextImageTimeout);
        }
    }


    // Change the displayed image back to the original image being annotated
    function revertContextImage() {
        var mainImage = document.getElementById("{{ image.id }}");

        // Delay switching images to avoid flickering
        contextImageTimeout = setTimeout(function () {
            let anyImgHovered = false;

            $('#context-image-container').find('img').each(function() {
                if ($(this).is(':hover')) {
                    anyImgHovered = true;
                    return false;
                }
            });

            // Don't switch image if still hovering context
            if (!anyImgHovered) {
                mainImage.src = "{% get_media_prefix %}{{image.thumbnail_gcloud_path}}";
                $(".a9s-annotationlayer").show();
            }
        }, 1000)
    }

    // Horizontal scrolling of context images
    contextImageContainer = document.getElementById("context-image-container");
    contextImageContainer.addEventListener("wheel", (evt) => {
        evt.preventDefault();
        contextImageContainer.scrollLeft += evt.deltaY;
    });


    // If an annotator made a mistake, they can return to a previous image
    function promptReturnToPreviousImage(imageId) {
        if (confirm("Are you sure you want to return to re-annotate this previous image?") == true) {
            savePreviousImageToReturnTo(imageId)
        }
    }

    // Save image to return to
    function savePreviousImageToReturnTo(imageId) {
        return new Promise(function(resolve, reject) {
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            let data = {
                'csrfmiddlewaretoken': csrftoken,
                'returnToImageId': imageId,
            }

            $.ajax({
                url: '{% url 'images:save_previous_image_to_return_to'%}',
                method: 'POST',
                data: data,
                dataType: 'json',
                success: function(data) {
                    window.location.reload();
                }
            });
        });
    }
</script>


<script>
        // TODO: Move all this code to separate functions housed in separate files
        {% comment %} Create a javascript variable holding all the annotations and render annotations{% endcomment %}
        let bboxes = [
            {% for bbox in bounding_boxes %}
                {
                    "id": "{{bbox.id}}",
                    // Only show these in Category pipeline
                    {% block show_bbox_category_and_confidence %}
                    {% endblock show_bbox_category_and_confidence %}
                    "x": {{bbox.x}},
                    "y": {{bbox.y}},
                    "w": {{bbox.w}},
                    "h": {{bbox.h}},
                },
            {% endfor %}
        ];

        window.hiddenBoxes = [];

        // Set up annotations, rendering and submit hooks after the window has fully loaded
        window.addEventListener('load', function () {
            // Set the available categories for the pipeline to show in the widget
            {% block set_categories %}
            {% endblock set_categories %}

            // Handle setting, getting, and display of recent tags
            // Currently in Species only
            {% block recent_tags_handling %}
            {% endblock recent_tags_handling %}

            // Add a badge in the annotation widget showing which Species have been voted on
            let speciesVotes = [
                {% for info in bbox_all_annotations %}
                    {% for species in info.species.all %}
                        "{{ species.name.name }}",
                    {% endfor %}
                {% endfor %}
            ];

            let ClassSelectorWidget = createCategoryWidget(categories, speciesVotes);

            anno = renderBoundingBoxes("{{image.id}}", bboxes = bboxes, widgets = [ClassSelectorWidget]);

            // Render bounding boxes
            renderBoundingBoxPreviews("{{image.id}}", "annotations-preview", anno)
            anno.on("createAnnotation", function () { return renderBoundingBoxPreviews("{{image.id}}", "annotations-preview", anno)})
            anno.on("deleteAnnotation", function () { return renderBoundingBoxPreviews("{{image.id}}", "annotations-preview", anno)})
            anno.on("updateAnnotation", function () { return renderBoundingBoxPreviews("{{image.id}}", "annotations-preview", anno)})
            anno.on('cancelSelected', function(selection) { return renderBoundingBoxPreviews("{{image.id}}", "annotations-preview", anno) });

            // Submit buttons disabled until all elements have loaded
            {% block enable_save_buttons %}
            document.getElementById("save_annotations").disabled = false;
            document.getElementById("skip_annotations").disabled = false;
            {% endblock enable_save_buttons %}

            // Function to save annotations
            function submitAnnotations(skip=false, species=false, activity=false) {
                const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

                // Make sure every entry has a categorization if not single categorization
                // This is for Species and Activity
                {% block multiple_category_check %}
                {% endblock multiple_category_check %}

                // Check for social media worthy upvote/downvote
                let socialMediaWorthyVote = 0;
                let socialMediaWorthyVoteButton = $("button[id^='social-media-worthy-']").filter(function() {
                    return $(this).css("background-color") !== "rgba(0, 0, 0, 0)";
                });

                if (socialMediaWorthyVoteButton.length > 0) {
                    socialMediaWorthyVote = socialMediaWorthyVoteButton.data("vote");
                }

                let data = {
                    'image_id': '{{image.id}}',
                    'csrfmiddlewaretoken': csrftoken,
                    'skip': skip,
                    'initial_bboxes': JSON.stringify(bboxes),
                    'annotations': JSON.stringify(anno.getAnnotations()),
                    'social_media_worthy_vote': socialMediaWorthyVote,
                    'staff_review_needed': document.getElementById('staff-review-needed').checked,
                    'custom_annotations': '{{custom_annotations}}',
                    'activity_category': '{{activity_category}}',
                    'is_reannotation': '{{ is_reannotation }}'
                }

                if (species) {
                    data['species'] = species
                }
                else if (activity) {
                    data['activity'] = activity;
                }

                // Send back all the bbox ids back to the server to log bbox deletions
                // Make an AJAX request
                $.ajax({
                    url: {% block processor_url %}{% endblock processor_url %},
                    method: 'POST',
                    data: data,
                    dataType: 'json',
                    success: function (data){
                        if (data.success) {
                            if (!skip) {
                                showStatusSuccess();
                            }
                            // Save the recent tags
                            // Currently used in Species only
                            {% block save_recent_tags %}
                            {% endblock save_recent_tags %}

                            let staffDebugCheckbox = $('#staff-debug-mode');

                            if (staffDebugCheckbox.length > 0 && staffDebugCheckbox.prop('checked')) {
                                updatePipelineDebugInfo(data.category_debug_data, data.species_debug_data, data.activity_debug_data);
                                alert("Pipeline debug information has been populated.");
                            }
                            else {
                                window.location.reload();
                            }
                        }
                        else {
                            showStatusFailure();
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        showStatusFailure();
                        console.error('HTTP Error:', jqXHR.status, textStatus, errorThrown);
                    }
                })
            }


            {% if user.is_staff %}
                window.staffDeleteAnnotation = function () {
                    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

                    let data = {
                        'model': arguments[0],
                        'boxId': arguments[1],
                        'annotationName': arguments[2],
                        'csrfmiddlewaretoken': csrftoken
                    }

                    $.ajax({
                        url: `{% url 'images:staff_delete_annotation'%}`,
                        method: 'POST',
                        data: data,
                        dataType: 'json',
                        success: function (data) {
                            let notifyText = document.getElementById(`notify-text-${data.name}`);

                            if (data.success) {
                                notifyText.innerHTML = `<i>Annotation "<b>${data.name}</b>" has been deleted.</i>`;
                            }
                            else {
                                notifyText.innerHTML = `There was a problem deleting <i>annotation "<b>${data.name}</b>".</i>`;
                            }
                        }
                    });
                }

                window.staffChangeAnnotation = function () {
                    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

                    let data = {
                        'model': arguments[0],
                        'boxId': arguments[1],
                        'annotationName': arguments[2],
                        'newAnnotationName': arguments[3],
                        'csrfmiddlewaretoken': csrftoken
                    }

                    $.ajax({
                        url: `{% url 'images:staff_change_annotation'%}`,
                        method: 'POST',
                        data: data,
                        dataType: 'json',
                        success: function (data) {
                            let notifyText = document.getElementById(`notify-text-${data.oldName}`);

                            if (data.success) {
                                notifyText.innerHTML = `<i>Annotation "${data.oldName}" has been changed to "<b>${data.newName}</b>".<br>(Refresh page to change again.)</i>`;
                            }
                            else {
                                notifyText.innerHTML = `There was a problem changing <i>annotation "<b>${data.oldName}</b>".</i>`;
                            }
                        }
                    });
                }
            {% endif %}

            // Submit annotations to the server
            $("#save_annotations").click(function(e){
                // First, prevent the default action of the form
                e.preventDefault();
                $("#save-spinner").show();
                // Then, save the annotations

                // Species and Activity override this to check
                // if a Single categorization is made
                {% block submit_annotations %}
                submitAnnotations(skip = false);
                {% endblock submit_annotations %}
            });

            // Skip annotations to the server
            $("#skip_annotations").click(function(e){
                // First, prevent the default action of the form
                e.preventDefault();
                $("#skip-spinner").show();
                // Then, save the annotations
                submitAnnotations(skip = true);
            });
            // Skip annotations to the server
            $("#clear_annotations").click(function(e){
                // First, prevent the default action of the form
                e.preventDefault();
                // Then, save the annotations
                anno.clearAnnotations()
                renderBoundingBoxPreviews("{{image.id}}", "annotations-preview", anno);
            });

            // Event listeners unique to the annotation stage
            // For example, in Species there's a button to toggle Single/Multiple species
            {% block additional_event_handlers %}
            {% endblock additional_event_handlers %}
        });
</script>


{% endblock footer_includes %}
