{% extends '_base.html' %}
{% load static %}
{% load humanize %}
<!-- Set corresponding nav pill to active -->
{% block nav_tag %}
    active
{% endblock nav_tag %}
{% block header_includes %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
          rel="stylesheet" />
{% endblock header_includes %}
{% block content %}
    {% block notice %}
        {% if image.staff_review_needed %}
            <div class="alert alert-warning" role="alert">
                <i class="bi bi-info-circle"></i>&nbsp;&nbsp;
                Staff review has been requested for this image.&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
        {% endif %}
    {% endblock notice %}
    {% block missing_annotations_element %}
    {% endblock missing_annotations_element %}
    <div class="row py-3 justify-content-center d-none" id="status-success">
        <div class="col-12">
            <div class="alert alert-success" role="alert">
                <i class="bi bi-check-circle-fill"></i>&nbsp;
                <strong>Success!</strong> Your annotations have been saved.
                <div class="spinner-border"
                     role="status"
                     style="height: 20px;
                            width: 20px"></div>
            </div>
        </div>
    </div>
    <div class="row py-3 justify-content-center d-none" id="status-failure">
        <div class="col-12">
            <div class="alert alert-danger text-center" role="alert">
                {% comment %} TODO: Link to a spreadsheet error form here {% endcomment %}
                <i class="bi bi-exclamation-triangle-fill"></i>&nbsp;
                <strong>Error!</strong> Your annotations could not be saved. Please refresh page & try again or report a
                bug here.
            </div>
        </div>
    </div>
    <div class="container mt-2 mt-md-3 annotation-container card-emphasis rounded bg-white">
        {% if image %}
            <div class="container-fluid mt-2 mt-md-3">
                <div class="row">
                    <div class="col-8">{% include './page_elements/nav-tabs.html' %}</div>
                    <div class="col-4 border rounded py-2 m-0 text-center d-flex">
                        <button type="submit"
                                class="btn btn-primary w-50 mx-2"
                                id="save_annotations"
                                name="save_annotations"
                                value="Save Annotations"
                                disabled>
                            <span><i class="bi bi-images"></i></span>
                            <span class="d-none d-lg-inline" style="font-size: 14px">
                                &nbsp;&nbsp;Save<span class="d-none d-xl-inline">&nbsp;Images</span> x <span id="batch-count">1</span>
                            </span>&nbsp;
                            <span id="save-spinner"
                                  class="spinner-border"
                                  role="status"
                                  style="width: 12px;
                                         height: 12px;
                                         display: none"></span>
                        </button>
                        <button type="submit"
                                class="btn btn-secondary mx-2 w-50"
                                id="skip_annotations"
                                name="skip_annotations"
                                value="Skip Image"
                                disabled>
                            <i class="bi bi-skip-end"></i>
                            <span class="d-none d-lg-inline" style="font-size: 14px">
                                &nbsp;&nbsp;&nbsp;Skip<span class="d-none d-xl-inline">&nbsp;Current&nbsp;&nbsp;</span>
                            </span>
                            <div id="skip-spinner"
                                 class="spinner-border"
                                 role="status"
                                 style="width: 12px;
                                        height: 12px;
                                        display: none"></div>
                        </button>
                    </div>
                </div>
                <div class="row justify-content-center p-0">
                    <div id="side-menu"
                         class="col-xl-4 col-lg-12 col-md-12 col-sm-12 mt-2 overflow-auto">
                        {% block include_nav_menu %}
                            {% include './page_elements/nav-menu/base.html' %}
                        {% endblock include_nav_menu %}
                    </div>
                    <div id="image-container"
                         class="col-xl-8 text-center p-2"
                         oncontextmenu="return false;">
                        <div class="card">
                            <div class="card-header">
                                <button class="btn" onclick="copyImageID()">
                                    <i class="bi-clipboard"></i>&nbsp;&nbsp;
                                    {{ image.upload.camera_station.station_id }} |
                                    {{ image.upload.camera_station.micro_site.macro_site }} |
                                    {{ image.upload.camera_station.micro_site.macro_site.county }}
                                </button>
                            </div>
                            <div class="card-body">
                                <img id="main-{{ image.id }}"
                                     class="main-image img-fluid rounded m-0"
                                     src="{% get_media_prefix %}{{ image.thumbnail_gcloud_path }}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row text-center mt-2 mt-md-3 pt-2 pt-md-3">
                <h3>There are no more images to annotate! Come back later!</h3>
                <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 mt-2 mt-md-4 pt-3">
                    <img class="img-fluid rounded w-75"
                         src="{% static 'images/puma_sleeping.jpg' %}">
                </div>
            </div>
        {% endif %}
    </div>
    <div class="toast-container position-fixed bottom-0 end-0 p-1 mh-1"></div>
    <div class="page-background h-100 mt-5"></div>
{% endblock content %}
{% block footer_includes %}
    <!-- Annotorious generic & custom stylesheets -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/@recogito/annotorious@2.7/dist/annotorious.min.css">
    <!-- Jquery & Annotorious -->
    <script src="https://cdn.jsdelivr.net/npm/@recogito/annotorious-shape-labels@latest/dist/annotorious-shape-labels.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@recogito/annotorious@2.7/dist/annotorious.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link rel="stylesheet"
          href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.js"></script>
    <!-- Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script>
    document.querySelector('label[for="staff-review-needed"]').addEventListener('click', function(event) {
        event.preventDefault();
    });


    let hoveredAnnotation = null;

    // Initialize popovers
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();

        // For some reason batch checkboxes are sometimes being checked by default.
        // Trying to set them to unchecked manually as a quick hack
        $('.burst-checkbox').prop('checked', false);

        function countCheckboxes() {
            $('#batch-count').text($("[id^=batch-tag-]:checked").length + 1);
        } countCheckboxes();

        $('.burst-checkbox').on('click', function () {
            countCheckboxes();
        });
    });
    </script>
    <meta name="django-vars"
          image-id="{{ image.id }}"
          main-img-src="{% get_media_prefix %}{{ image.thumbnail_gcloud_path }}"
          reannotate-url="{% url 'images:save_previous_image_to_return_to' %}">
    <script src="{% static 'js/annotate/keybindings.js' %}"
            type="text/javascript"
            charset="utf-8"></script>
    <script src="{% static 'js/annotate/clipboard.js' %}"
            type="text/javascript"
            charset="utf-8"></script>
    <script src="{% static 'js/annotate/display_context.js' %}"
            type="text/javascript"
            charset="utf-8"></script>
    <script src="{% static 'js/annotate/show_status.js' %}"
            type="text/javascript"
            charset="utf-8"></script>
    <script src="{% static 'js/annotate/reannotate.js' %}"
            type="text/javascript"
            charset="utf-8"></script>
    <script src="{% static 'js/annotate/social_media_worthy.js' %}"
            type="text/javascript"
            charset="utf-8"></script>
    <script>
        // TODO: Move all this code to separate functions housed in separate files
        {% comment %} Create a javascript variable holding all the annotations and render annotations{% endcomment %}
        let bboxes = [
            {% for bbox in bounding_boxes %}
                {
                    "id": "{{bbox.id}}",
                    "categoryType": "{{bbox.category_set.all.0.name}}",
                    // Only show these in Category pipeline
                    {% block show_bbox_category_and_confidence %}
                    {% endblock show_bbox_category_and_confidence %}
                    "x": {{bbox.x}},
                    "y": {{bbox.y}},
                    "w": {{bbox.w}},
                    "h": {{bbox.h}},
                },
            {% endfor %}
        ];

        window.birdsList = [
            {% for bird in birds_list %}
            "{{ bird.name }}",
            {% endfor %}
        ]

        window.animalList = [
            {% for species in species_list %}
                {% if species.species_group == "WILD" or species.species_group == "DOMESTIC" or species.species_group == "OTHER" %}
                    "{{ species.name }}",
                {% endif %}
            {% endfor %}
        ];

        window.personList = [
            {% for species in species_list %}
                {% if species.species_group == "HUMAN" %}
                    "{{ species.name }}",
                {% endif %}
            {% endfor %}
        ];
        window.vehicleList = [
            {% for species in species_list %}
                {% if species.species_group == "VEHICLE" %}"{{ species.name }}",{% endif %}
            {% endfor %}
        ];

        // Save state of hidden boxes
        window.hiddenBoxes = [];

        // Set up annotations, rendering and submit hooks after the window has fully loaded
        window.addEventListener('load', function () {
            // Set the available categories for the pipeline to show in the widget
            {% block set_categories %}
            {% endblock set_categories %}

            // Handle setting, getting, and display of recent tags
            // Currently in Species only
            {% block recent_tags_handling %}
            {% endblock recent_tags_handling %}

            // Add a badge in the annotation widget showing which Species have been voted on
            let speciesVotes = [
                {% for info in bbox_all_annotations %}
                    {% for species in info.species.all %}
                        "{{ species.name.name }}",
                    {% endfor %}
                {% endfor %}
            ];

            // Get the species detected by the model
            let speciesDetections = [
                {% for species in species_detections %}
                        "{{ species }}",
                {% endfor %}
            ];

            // Set height of menu depending on image size
            let maxHeight = Math.max($(`#${'main-{{image.id}}'}`).height(), $(window).height() * 0.77);
            $(`#side-menu`).css("max-height", maxHeight)


            // Setup size changes for certain tabs
            $('a[data-bs-toggle="tab"]').on('shown.bs.tab', function (e) {
                const sideMenu = $(`#side-menu`);
                const imageContainer = $(`#image-container`)


                const colSmaller = "col-xl-4";
                const colBigger = "col-xl-8";
                const colMax = "col-xl-12";

                function resetClasses() {
                    sideMenu.removeClass(colBigger);
                    sideMenu.removeClass(colMax);
                    sideMenu.addClass(colSmaller);
                    imageContainer.removeClass(colSmaller)
                    imageContainer.addClass(colBigger);
                    imageContainer.show()
                }
                resetClasses();
                if (e.target.id === "nav-bboxes-tab" || e.target.id === "nav-deduplicate-helper-tab" || e.target.id === "nav-batch-tag-tab") {
                    sideMenu.removeClass(colSmaller);
                    sideMenu.addClass(colBigger);
                    imageContainer.removeClass(colBigger);
                    imageContainer.addClass(colSmaller);
                }
                else if (e.target.id === "nav-admin-tab" || e.target.id === "nav-debug-tab" || e.target.id === "nav-img-grid-tab") {
                    sideMenu.removeClass(colSmaller);
                    sideMenu.addClass(colMax);
                    imageContainer.hide()
                }
            })

            let ClassSelectorWidget = createCategoryWidget(categories, speciesVotes, speciesDetections, "{{ pipeline }}");

            // Render bbox previews for burst and grid images.
            // Can't use Annotorious to render these, as it mixes up the bbox ids of those images with the current.
            {% for burst_image, bounding_boxes in images_w_boxes %}
                    {% for bbox in bounding_boxes %}
                        currentImage = $(`#burst-{{ burst_image.id }}`);
                        currentBox = $(`#burst-{{ bbox.id }}`);
                        currentBoxWidth = "{{ bbox.w }}";
                        currentBoxHeight = "{{ bbox.h }}";
                        currentBoxX = "{{ bbox.x }}";
                        currentBoxY = "{{ bbox.y }}";
                        currentBox.attr("width", `${currentBoxWidth * 100}%`);
                        currentBox.attr("height", `${currentBoxHeight * 100}%`);
                        currentBox.css("top", `${currentBoxY * 100}%`);
                        currentBox.css("left", `${currentBoxX * 100}%`);
                    {% endfor %}
            {% endfor %}


            {% for queue_image, bounding_boxes in grid_images_w_boxes %}
                    {% for bbox in bounding_boxes %}
                        currentImage = $(`#queue-{{ queue_image.id }}`);
                        currentBox = $(`#queue-{{ bbox.id }}`);
                        currentBoxWidth = "{{ bbox.w }}";
                        currentBoxHeight = "{{ bbox.h }}";
                        currentBoxX = "{{ bbox.x }}";
                        currentBoxY = "{{ bbox.y }}";
                        currentBox.attr("width", `${currentBoxWidth * 100}%`);
                        currentBox.attr("height", `${currentBoxHeight * 100}%`);
                        currentBox.css("top", `${currentBoxY * 100}%`);
                        currentBox.css("left", `${currentBoxX * 100}%`);
                    {% endfor %}
            {% endfor %}

            anno = renderBoundingBoxes("main-{{image.id}}", bboxes = bboxes, widgets = [ClassSelectorWidget]);

            // Render bounding boxes
            renderBoundingBoxPreviews("main-{{image.id}}", anno)
            anno.on("createAnnotation", function () {
                $('#species-list').val("").trigger('change');
                $('#activity-list').val("").trigger('change');
                return renderBoundingBoxPreviews("main-{{image.id}}", anno)
            })
            anno.on("deleteAnnotation", function () { return renderBoundingBoxPreviews("main-{{image.id}}", anno)})
            anno.on("updateAnnotation", function () {
                $('#species-list').val("").trigger('change');
                $('#activity-list').val("").trigger('change');
                return renderBoundingBoxPreviews("main-{{image.id}}", anno)
            })
            anno.on('cancelSelected', function (selection) {
                {% block observer_init %}{% endblock observer_init %}
                return renderBoundingBoxPreviews("main-{{image.id}}", anno)
            });

            // Set default brightness value based on luma value
            const lumaAdjustment = "{{ luma_adjustment }}";
            const brightnessFilter = `brightness(${lumaAdjustment}%)`
            $(`#image-brightness-slider`).val(lumaAdjustment);

            $('#main-{{image.id}}').css("filter", brightnessFilter);
            $("[id^='canvas-']").css("filter", brightnessFilter);
            $(".context-image").css("filter", brightnessFilter);

            // Submit buttons disabled until all elements have loaded
            {% block enable_save_buttons %}
            document.getElementById("save_annotations").disabled = false;
            document.getElementById("skip_annotations").disabled = false;
            {% endblock enable_save_buttons %}

            // Function to save annotations
            function submitAnnotations(skip=false, species=false, activity=false) {
                const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

                // Make sure every entry has a categorization if not single categorization
                // This is for Species and Activity
                {% block multiple_category_check %}
                {% endblock multiple_category_check %}

                // Check for social media worthy upvote/downvote
                let socialMediaWorthyVote = 0;
                let socialMediaWorthyVoteButton = $("button[id^='social-media-worthy-']").filter(function() {
                    return $(this).css("background-color") !== "rgba(0, 0, 0, 0)";
                });

                if (socialMediaWorthyVoteButton.length > 0) {
                    socialMediaWorthyVote = socialMediaWorthyVoteButton.data("vote");
                }

                let selectedBatchTagImages = $("[id^=batch-tag-]:checked").map(function () {
                    return $(this).val();
                }).get();

                let data = {
                    'image_id': '{{image.id}}',
                    'csrfmiddlewaretoken': csrftoken,
                    'skip': skip,
                    'initial_bboxes': JSON.stringify(bboxes),
                    'annotations': JSON.stringify(anno.getAnnotations()),
                    'social_media_worthy_vote': socialMediaWorthyVote,
                    'staff_review_needed': document.getElementById('staff-review-needed').checked,
                    'custom_annotations': '{{custom_annotations}}',
                    'activity_category': '{{activity_category}}',
                    'is_reannotation': '{{ is_reannotation }}',
                    'batch_tag_images': JSON.stringify(selectedBatchTagImages),
                }

                if (species) {
                    data['species'] = species
                }
                else if (activity) {
                    data['activity'] = activity;
                }

                // Send back all the bbox ids back to the server to log bbox deletions
                // Make an AJAX request
                $.ajax({
                    url: {% block processor_url %}{% endblock processor_url %},
                    method: 'POST',
                    data: data,
                    dataType: 'json',
                    success: function (data){
                        if (data.success) {
                            if (!skip) {
                                showStatusSuccess();
                            }
                            // Save the recent tags
                            // Currently used in Species only
                            {% block save_recent_tags %}
                            {% endblock save_recent_tags %}

                            let staffDebugCheckbox = $('#staff-debug-mode');

                            if (staffDebugCheckbox.length > 0 && staffDebugCheckbox.prop('checked')) {
                                updatePipelineDebugInfo(data.category_debug_data, data.species_debug_data, data.activity_debug_data);
                                alert("Pipeline debug information has been populated.");
                            }
                            else {
                                window.location.reload();
                            }
                        }
                        else {
                            showStatusFailure();
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        showStatusFailure();
                        console.error('HTTP Error:', jqXHR.status, textStatus, errorThrown);
                    }
                })
            }


            {% if user.is_staff %}
                window.staffDeleteAnnotation = function () {
                    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

                    let data = {
                        'model': arguments[0],
                        'boxId': arguments[1],
                        'annotationName': arguments[2],
                        'csrfmiddlewaretoken': csrftoken
                    }

                    $.ajax({
                        url: `{% url 'images:staff_delete_annotation'%}`,
                        method: 'POST',
                        data: data,
                        dataType: 'json',
                        success: function (data) {
                            let notifyText = document.getElementById(`notify-text-${data.name}`);

                            if (data.success) {
                                notifyText.innerHTML = `<i>Annotation "<b>${data.name}</b>" has been deleted.</i>`;
                            }
                            else {
                                notifyText.innerHTML = `There was a problem deleting <i>annotation "<b>${data.name}</b>".</i>`;
                            }
                        }
                    });
                }

                window.staffChangeAnnotation = function () {
                    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

                    let data = {
                        'model': arguments[0],
                        'boxId': arguments[1],
                        'annotationName': arguments[2],
                        'newAnnotationName': arguments[3],
                        'csrfmiddlewaretoken': csrftoken
                    }

                    $.ajax({
                        url: `{% url 'images:staff_change_annotation'%}`,
                        method: 'POST',
                        data: data,
                        dataType: 'json',
                        success: function (data) {
                            let notifyText = document.getElementById(`notify-text-${data.oldName}`);

                            if (data.success) {
                                notifyText.innerHTML = `<i>Annotation "${data.oldName}" has been changed to "<b>${data.newName}</b>".<br>(Refresh page to change again.)</i>`;
                            }
                            else {
                                notifyText.innerHTML = `There was a problem changing <i>annotation "<b>${data.oldName}</b>".</i>`;
                            }
                        }
                    });
                }
            {% endif %}

            // Submit annotations to the server
            $("#save_annotations").click(function(e){
                // First, prevent the default action of the form
                e.preventDefault();
                $("#save-spinner").show();

                // Then, save the annotations

                // Species and Activity override this to check
                // if a Single categorization is made
                {% block submit_annotations %}
                submitAnnotations(skip = false);
                {% endblock submit_annotations %}
            });

            // Skip annotations to the server
            $("#skip_annotations").click(function(e){
                // First, prevent the default action of the form
                e.preventDefault();
                $("#skip-spinner").show();
                // Then, save the annotations
                submitAnnotations(skip = true);
            });

            $("#clear_annotations").click(function(e){
                e.preventDefault();
                // Then, save the annotations
                anno.clearAnnotations()
                renderBoundingBoxPreviews("main-{{image.id}}", anno);
            });

            // Event listeners unique to the annotation stage
            // For example, in Species there's a button to toggle Single/Multiple species
            {% block additional_event_handlers %}
            {% endblock additional_event_handlers %}
        });
    </script>
{% endblock footer_includes %}
