
    <script>
        let boxIds;
        boxIds = [
            {% for bbox in bounding_boxes %}
            "{{bbox.id}}",
            {% endfor %}
        ];

        // Need to check whether annotation preview and bounding boxes are loaded before setting up menu.
        function checkElementsExist(func=createBboxActions) {
            let allElementsExist = true;

            for (const id of boxIds) {
                const canvas = document.getElementById("canvas-" + id);
                const box = document.querySelector(`[data-id="${id}"]`);

                if (!canvas || !box) {
                    allElementsExist = false;
                    break;
                }
            }

            if (allElementsExist) {
                boxIds = getAnno().getAnnotations().map(obj => obj.id);
                func();
            }
            else {
                setTimeout(checkElementsExist, 100);
            }
        } (checkElementsExist());

        // Constructs the menu and appends to each annotation preview.
        function createBboxActions() {

            //// Returns specific page elements associated with the id.
            function getAssociatedElements(boxId) {
                return {
                    "canvas": document.getElementById("canvas-" + boxId),
                    "entry": document.getElementById("entry-" + boxId),
                    "entryText": document.getElementById("entry-text-" + boxId),
                    "bbox": document.querySelector(`[data-id="${boxId}"]`),
                    "rect": document.querySelector(`[data-id="${boxId}"]`)
                                    ?.querySelector(".a9s-inner") ?? null,
                    "hideButton": document.getElementById("hide-button-" + boxId),
                    "deleteButton": document.getElementById("delete-button" + boxId),
                    "annotationText": document.getElementById(`annotation-text-${boxId}`),
                    "previewCol": document.getElementById(`preview-col-${boxId}`),
                }
            }

            //// Create and append button to toggle hiding all bboxes.
            function createHideAllBboxesButton() {

                let hideAllBboxesButton = document.createElement("button");
                hideAllBboxesButton.setAttribute("id", "hide-all-bboxes-button");
                hideAllBboxesButton.textContent = `Hide All Boxes`;

                Object.assign(hideAllBboxesButton.style, {
                    width: "100%",
                    border: "0px",
                    background: "whitesmoke",
                    marginBottom: "10px"
                });

                hideAllBboxesButton.addEventListener('click', function () {
                    let unhiddenBoxes = false;

                    for (id of boxIds) {
                        const bbox = getAssociatedElements(id).bbox;

                        if (bbox.style.display != 'none') {
                            unhiddenBoxes = true;
                            break;
                        }
                    }

                    // If unhidden boxes remain, hide all boxes.
                    if (unhiddenBoxes) {
                        for (id of boxIds) {
                            const elements = getAssociatedElements(id);

                            elements['bbox'].style.display = 'none';
                            elements['hideButton'].style.backgroundColor = 'gainsboro';

                            if (!elements['entryText'].innerHTML.includes("(Hidden)")) {
                                elements['entryText'].innerHTML += " (Hidden)";
                                elements['entryText'].style.color = 'gray';
                                elements['entryText'].style.fontStyle = 'italic';
                            }

                        }
                    // Else if all hidden, unhide all boxes.
                    } else {
                        for (id of boxIds) {
                            const elements = getAssociatedElements(id);
                            elements['bbox'].style.display = 'block';
                            elements['hideButton'].style.backgroundColor = 'whitesmoke';
                            elements['entryText'].innerHTML = elements['entryText'].innerHTML.replace(" (Hidden)", "");
                            elements['entryText'].style.color = 'black';
                            elements['entryText'].style.fontStyle = 'normal';
                        }

                    }
                });

                let annotationPreview = document.getElementById("annotations-preview");
                annotationPreview.appendChild(hideAllBboxesButton);
            }

            //// Creates and appends bbox action menu to annotation preview with matching data-id.
            function createBboxEntryMenu(id, num) {
                let bboxEntry = document.createElement("div");

                // Displays the name of the bounding box.
                function createNameText() {

                    let text = document.createElement("text");
                    text.innerHTML = `&nbsp;&nbsp;Box ${num}`;
                    text.setAttribute("id", `entry-text-${id}`);

                    Object.assign(text.style, {
                        width: "80%",
                        fontSize: "17px"
                    });
                    return text;
                }

                // Button to hide the bounding box.
                function createHideButton() {

                    let hideBboxButton = document.createElement("button");
                    hideBboxButton.setAttribute("id", `hide-button-${id}`);
                    hideBboxButton.textContent = "Hide Box";

                    Object.assign(hideBboxButton.style, {
                        width: "50%",
                        border: "0px",
                        background: "whitesmoke",
                    });

                    hideBboxButton.addEventListener('click', (function () {
                            const elements = getAssociatedElements(id);

                            if (elements['bbox'].style.display === 'none') {
                                elements['bbox'].style.display = 'block';
                                this.style.backgroundColor = 'whitesmoke';
                                elements['entryText'].style.color = 'black';
                                elements['entryText'].innerHTML = `&nbsp;&nbsp;Box ${num}`;
                                elements['entryText'].style.fontStyle = 'normal';
                            } else {
                                elements['bbox'].style.display = 'none';
                                this.style.backgroundColor = 'gainsboro';
                                elements['entryText'].style.color = "gray";
                                elements['entryText'].innerHTML = `&nbsp;&nbsp;Box ${num} (Hidden)`;
                                elements['entryText'].style.fontStyle = 'italic';

                            }
                        })
                    );

                    return hideBboxButton;
                }

                // Button to delete the bounding box.
                function createDeleteButton() {

                    let deleteBboxButton = document.createElement("button");
                    deleteBboxButton.setAttribute("id", "delete-button-" + id);
                    deleteBboxButton.textContent = "Delete Box";

                    Object.assign(deleteBboxButton.style, {
                        width: "50%",
                        border: "0px",
                        background: "whitesmoke",
                        color: "red"
                    });

                    deleteBboxButton.addEventListener('click', function () {
                        const elements = getAssociatedElements(id);

                        elements['previewCol'].remove();
                        anno.removeAnnotation(id);

                        // Update the present boxIds.
                        boxIds = getAnno().getAnnotations().map(obj => obj.id);
                        recreateMenus();
                    });

                    return deleteBboxButton;
                }

                // Append all the menu elements together.
                function buildEntryMenu() {
                    bboxEntry.setAttribute("id", "entry-" + id);

                    Object.assign(bboxEntry.style, {
                        borderTop: "2px solid black",
                        borderColor: "gray",
                        whiteSpace: "nowrap",
                    });

                    bboxEntry.appendChild(createNameText());

                    let buttonMenu = document.createElement('div');
                    bboxEntry.appendChild(buttonMenu);
                    buttonMenu.appendChild(createHideButton());
                    buttonMenu.appendChild(createDeleteButton());

                    return bboxEntry;
                }

                return buildEntryMenu();

            }

            // Recreate menus when deletion occurs (due to renderBoundingBoxPreviews() recreating the preview images).
            let recreateMenus = function () {
                const newBoxIds = getAnno().getAnnotations().map(obj => obj.id);

                if (newBoxIds.length == 0) {
                    $('[id^="preview-col-"]').remove();
                    $('[id="hide-all-bboxes-button"]').remove();

                    const noBoxesText = $("<span>")
                      .attr("id", "no-boxes-text")
                      .css("font-style", "italic")
                      .css("font-size", "18px")
                      .text("(No annotations found on image.)");
                    if ($("#no-boxes-text").length == 0) {
                        $("#annotations-preview").append(noBoxesText);
                    }
                }
                else {
                    let noBoxesTextElement = $("#no-boxes-text");
                    if (noBoxesTextElement.length > 0) {
                        noBoxesTextElement.remove();
                    }

                    const deletedId = boxIds.find(element => !newBoxIds.includes(element));
                    const elements = getAssociatedElements(deletedId);

                    if (elements['previewCol']) {
                        elements['previewCol'].remove();
                    }

                    // Update the present boxIds.
                    boxIds = newBoxIds;
                    checkElementsExist();
                }
            };

            anno.on("deleteAnnotation", recreateMenus);
            if ($("#clear_annotations").length > 0) {
                $("#clear_annotations").click(recreateMenus);
            }

            // Change the preview text and recreate menus when annotations are changed. (same reason as above)
            anno.on("updateAnnotation", function () {
                checkElementsExist();

                try { getAssociatedElements(id)['entry'].style.backgroundColor = 'transparent'; }
                catch { }

                const anno = getAnno();

                if (!document.querySelector(".preview-label.py-2")) {
                    for (const annotation of anno.getAnnotations()) {
                        const annoText = document.getElementById(`annotation-text-${annotation.id}`);
                        const newAnnotation = annotation.body[0].value;
                        if (newAnnotation) {
                            annoText.innerText = newAnnotation.length > 17 ? newAnnotation.slice(0, 17) + "..." : newAnnotation;
                            annoText.style.backgroundColor = 'transparent';
                        }
                        else {
                            annoText.innerText = "(No Annotation)";
                            annoText.style.backgroundColor = 'rgb(255, 216, 204)';
                        }

                        assignEntryListeners(annotation.id);
                    }
                }
            });

            // Recreate menus on new box creation. (same reason as above)
            anno.on("createAnnotation", function () {
                const newBoxIds = getAnno().getAnnotations().map(obj => obj.id);
                boxIds = newBoxIds;
                checkElementsExist();
            });

            // Assigns listeners for visual indicators and other actions.
            function assignEntryListeners(id) {
                const elements = getAssociatedElements(id);

                try { elements['canvas'].style.border = "5px solid transparent"; }
                catch { return; }

                elements['rect'].addEventListener("mouseover", (function () {
                    this.style.backgroundColor = "yellow";
                    elements['canvas'].style.border = "5px solid yellow";

                    // Entry gets deleted in object annotation for some reason, but it doesn't seem to affect functionality.
                    // Try-catch just as an easy fix to get rid of the errors.
                    try { elements['entry'].style.backgroundColor = "yellow"; }
                    catch { }
                }));

                elements['rect'].addEventListener("mouseleave", (function () {
                    this.style.backgroundColor = "transparent";
                    elements['canvas'].style.border = "5px solid transparent";

                    try { elements['entry'].style.backgroundColor = "transparent"; }
                    catch { }
                }));

                elements['previewCol'].addEventListener("mouseover", (function() {
                    elements['entry'].style.backgroundColor = "yellow";
                    elements['canvas'].style.border = "5px solid yellow";

                    const outerRect = elements['bbox'].querySelector(".a9s-outer");
                    outerRect.style.fill = "rgba(255, 255, 0, 0.2)";
                }));

                elements['previewCol'].addEventListener("mouseout", (function () {
                    elements['entry'].style.backgroundColor = "transparent";
                    elements['canvas'].style.border = "5px solid transparent";

                    const outerRect = elements['bbox'].querySelector(".a9s-outer");
                    outerRect.style.fill = "transparent";
                }));
            }

            // Create and append all the menus to each annotation preview.
            function createAndAppendMenus() {
                let boxNum = 1;

                for (label of document.querySelectorAll('.preview-label')) {
                    label.style.borderBottom = '1px solid black';
                }

                for (id of boxIds) {
                    if (document.getElementById(`entry-${id}`)) { continue; }

                    let annotationPreview = getAssociatedElements(id);
                    Object.assign(annotationPreview['previewCol'].style, {
                        border: "2px solid black",
                        borderRadius: "5px",
                        display: "inline-block",
                        maxHeight: "100%",
                        maxWidth: "100%"
                    });
                    annotationPreview['previewCol'].classList.add("center-justify");
                    annotationPreview['previewCol'].maxWidth = "100%";

                    if (!document.querySelector(".preview-label.py-2")) {
                        let annotationText = document.createElement('text');
                        annotationText.setAttribute("id", `annotation-text-${id}`);
                        annotationText.style.fontWeight = 'bold';
                        annotationText.style.backgroundColor = 'rgb(255, 216, 204)';
                        annotationText.innerText = '(No Annotation)';

                        annotationPreview['previewCol'].insertBefore(annotationText, annotationPreview.canvas);
                    }

                    annotationPreview['previewCol'].appendChild(
                        createBboxEntryMenu(id, boxNum)
                    );

                    // If single species selected before load, update annotation preview titles.
                    try {
                        if ($('#activity-list').length > 0) {
                            $('#activity-list').trigger('change');
                        }
                        if ($('#species-list').length > 0) {
                            $('#species-list').trigger('change');
                        }
                    }
                    catch (error) { /*console.log(error);*/ }

                    assignEntryListeners(id);

                    boxNum++;
                }

                if (!document.getElementById("hide-all-bboxes-button") && getAnno().getAnnotations().length > 0) {
                    createHideAllBboxesButton();
                }
            } (createAndAppendMenus());
        }
    </script>
