{% extends './base_annotate.html' %}
{% load static %}

<!-- Set corresponding nav pill to active -->
{% block nav_tag %}active{% endblock nav_tag %}

{% block depreciation_notice %}
<div class="alert alert-info" role="alert">
<i class="bi bi-info-circle"></i>&nbsp;&nbsp;
<b>Notice:</b> Categories will be set automatically when annotating Species, and only in a select few cases will images be sent back here.&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/images/annotate/species">
    <button class="btn btn-outline-primary">Annotate Species</button>
</a>
</div>
{% endblock depreciation_notice %}

{% block instruction_text %}
<p class="lead">
    Select all objects in the image if it isn't already!
</p>
{% endblock instruction_text %}

{% block delete_all_boxes_button %}
<button
    type="submit"
    class="btn btn-danger"
    id="clear_annotations"
    name="clear_annotations"
    value="Delete all boxes"
><i class="bi bi-x-circle">&nbsp;&nbsp;&nbsp;</i>Delete All Boxes&nbsp;</button>
{% endblock delete_all_boxes_button %}


{% block show_bbox_category_and_confidence %}
"category": "{{bbox.category_set.all.0.name}}",
"confidence": "{{bbox.category_set.all.0.confidence}}",
{% endblock show_bbox_category_and_confidence %}


{% comment %}<script>{% endcomment %}
{% block set_categories %}
let categories = ['animal','person','vehicle']
{% endblock set_categories %}

{% block processor_url %}`{% url 'images:md_annotation_processor'%}`{% endblock processor_url %}

{% comment %}</script>{% endcomment %}
