{% extends '_base.html' %}
{% load static %}

<!-- Set corresponding nav pill to active -->
{% block nav_tag %}active{% endblock nav_tag %}

{% block header_includes %}
<link
    href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
    rel="stylesheet"
/>
{% endblock header_includes %}

{% block content %}
<div class="container mt-2 mt-md-3 species-annotation">
    {% if image %}
    <div class="row">
        <div class="col-12 text-center">
            <p>
                What species does the image have?
            </p>
        </div>
    </div>

    <div class="row text-center">
        <form method="POST">
            {% csrf_token %}
            <div class="pb-3 label-toggle">
                <select id="species-list">
                    <option
                        value=""
                        disabled
                        selected
                    ></option>
                    {% for species in species_list%}
                    <option value="{{species}}">{{species}}</option>
                    {% endfor%}
                    <hr>
                </select>
            </div>
            <p class="fw-bold d-none label-toggle">Click on each box and select the species. Then, click Save when
                complete!</p>
            <span
                class="btn btn-primary label-toggle me-2"
                id="multiple-species"
            >Multiple species?</span>
            <span
                class="btn btn-primary label-toggle d-none me-2"
                id="single-species"
            >Single species?</span>
            <input
                type="submit"
                class="btn btn-primary me-2"
                id="skip_annotations"
                name="skip_annotations"
                value="Skip Image"
                disabled
            >
            <input
                type="submit"
                class="btn btn-primary"
                id="save_annotations"
                name="save_annotations"
                value="Save Annotations"
                disabled
            >
            {% if user.is_staff %}
            <button type="button"
                    class="btn btn-primary me-2"
                    style="background-color: orange" data-toggle="modal" data-target="#staffEditModal"
            >Admin View</button>
            {% include './staff-edit-annotations.html' %}
            {% endif %}
            <div class="mt-3">
                <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    {% if social_media_worthy %}checked="checked"{% endif %}
                    id="social-media-worthy-species"
                >
                <label
                    class="form-check-label"
                    for="social-media-worthy-species"
                >
                    &nbsp; Social Media Worthy?
                </label>
                &emsp;&emsp;&emsp;&emsp;&emsp;
                <input
                    class="form-check-input"
                    type="checkbox"
                    {% if staff_review_needed %}checked="checked"{% endif %}
                    id="staff-review-needed"
                >
                <label
                    class="form-check-label"
                    for="staff-review-needed"
                >
                    &nbsp; Flag for Staff Review?
                </label>
            </div>
        </form>
    </div>
    <div
        class="row py-3 justify-content-center d-none"
        id="status-missing-species"
    >
        <div class="col-12">
            <div
                class="alert alert-danger text-center"
                role="alert"
            >
                <strong>Error!</strong> Some of your the bounding boxes don't have a species. Please try again.
            </div>
        </div>
    </div>
    <div class="row mt-2 mt-md-4 px-2 justify-content-center">
        <div class="col-12 col-md-11 col-lg-9 col-xl-8 text-center" style="width: 80%">
            <h6>
                <b>
                    {{ image.upload.camera_station.station_id }} |
                    {{ image.upload.camera_station.micro_site.macro_site }} |
                    {{ image.upload.camera_station.micro_site.macro_site.county }}
                </b>
            </h6>
            <img id="{{image.id}}"
                 class="img-fluid m-0 p-0"
                 src="{% get_media_prefix %}{{image.thumbnail_gcloud_path}}"
            >
        </div>
        <div style="width: 20%; margin-top: 10px; max-height: 5%; overflow-y: auto">
            {% include './image-manipulators.html' %}
        </div>
    </div>
    <div
        class="row py-3 justify-content-center d-none"
        id="status-failure"
    >
        <div class="col-12">
            <div
                class="alert alert-danger text-center"
                role="alert"
            >
                {% comment %} TODO: Link to a spreadsheet error form here {% endcomment %}
                <strong>Error!</strong> Your annotations could not be saved. Please refresh page & try again or report a
                bug here.
            </div>
        </div>
    </div>
    <div class="row mt-3 mt-md-5 text-center">
        <h2>Annotations Preview</h2>
        <hr />
    </div>
    <div class="row mt-2 mt-md-4 justify-content-center text-center">
        <div class="col-12" id="annotations-preview"></div>
        <div>
            {% include './bbox-actions.html' %}
        </div>
    </div>
    {% else %}
    <div class="row text-center mt-3 mt-md-5 pt-2 pt-md-5">
        <h3>There are no more images to annotate! Come back later!</h3>
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 mt-2 mt-md-5 pt-2">
            <img
                class="img-fluid rounded"
                src="{% static 'images/puma_sleeping.jpg' %}"
            >
        </div>
    </div>
    {% endif %}
</div>
{% include './context-images.html' %}
{% endblock content %}


{% block footer_includes %}
<!-- Annotorious generic & custom stylesheets -->
<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@recogito/annotorious@2.6.1/dist/annotorious.min.css"
>
<!-- Jquery & Annotorious -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@recogito/annotorious-shape-labels@latest/dist/annotorious-shape-labels.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@recogito/annotorious@2.6.1/dist/annotorious.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<!-- Bootstrap -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script>
    document.querySelector('label[for="social-media-worthy-species"]').addEventListener('click', function(event) {
        event.preventDefault();
    });
    document.querySelector('label[for="staff-review-needed"]').addEventListener('click', function(event) {
        event.preventDefault();
    });
</script>
<script>
    // TODO: Move all this code to separate functions housed in separate files
    {% comment %} Create a javascript variable holding all the annotations and render annotations{% endcomment %}
    let bboxes = [
        {% for bbox in bounding_boxes %}
            {
                "id": "{{bbox.id}}",
                {% comment %} "category": "{{bbox.category_set.all.0.name}}",
                "confidence": {{bbox.category_set.all.0.confidence}}, {% endcomment %}
                "x": {{bbox.x}},
                "y": {{bbox.y}},
                "w": {{bbox.w}},
                "h": {{bbox.h}},
            },
        {% endfor %}
    ];

    let anno;

    window.getAnno = function () {
        return anno;
    }

    // Set up annotations, rendering and submit hooks after the window has fully loaded
    window.addEventListener('load', function () {
        let categories = [
            {% for species in species_list %}"{{species}}", {% endfor %}
        ];

        // Retrieve recent tags
        (async () => {
            try {
                window.recentTags = await getRecentTags();
            } catch (error) {
                console.log(`An error occurred getting recent tags: ${error}`);
            }
        })();

        window.observer = new MutationObserver(function (mutations) {
            if (mutations.some(mutation => mutation.target.matches('button'))) {
                return;
            }

            const categoryWidget = document.querySelector('.category-widget.m-2.p-2.row');
            const hasSelectedButton = categoryWidget && categoryWidget.querySelector('button.selected') !== null;

            if (!hasSelectedButton) {
                const targetDiv = document.querySelector('#recent-tag-div');

                if (targetDiv) {
                    const targetButton = targetDiv.querySelector('button');

                    if (targetButton) {
                        observer.disconnect();
                        targetButton.click();
                    }
                }
            }
        });

        observer.observe(document, {attributes: false, childList: true, characterData: false, subtree:true});

        let SpeciesClassSelectorWidget = createCategoryWidget(categories);

        anno = renderBoundingBoxes("{{image.id}}", bboxes = bboxes, widgets = [SpeciesClassSelectorWidget]);

        // Render bounding boxes
        renderBoundingBoxPreviews("{{image.id}}", "annotations-preview", anno)

        // Submit buttons disabled until all elements have loaded
        document.getElementById("save_annotations").disabled = false;
        document.getElementById("skip_annotations").disabled = false;

        // Function to save annotations
        function submitAnnotations(skip=false, species=false) {
            // If it is not a single species, make sure every entry has a species
            if (!species & !skip) {
                for (const annotation of anno.getAnnotations()) {
                    if (annotation.body[0].value === undefined) {
                        $("#status-missing-species").removeClass("d-none");
                        setTimeout(function(){
                            $("#status-missing-species").addClass("d-none");
                        }, 5000);
                        return false;
                    }
                }
            }

            if (species) {
                for (const annotation of anno.getAnnotations()) {
                    annotation.body[0].value = species
                    annotation.body[0].confidence = 1.0
                }
            }

            // Get the csrf token
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            // Build the payload
            let data = {
                'image_id': '{{image.id}}',
                'csrfmiddlewaretoken': csrftoken,
                'skip': skip,
                'species': species,
                'initial_bboxes': JSON.stringify(bboxes),
                'annotations': JSON.stringify(anno.getAnnotations()),
                'social_media_worthy': document.getElementById('social-media-worthy-species').checked,
                'staff_review_needed': document.getElementById('staff-review-needed').checked,
                'custom_annotations': '{{custom_annotations}}',
            }

            // Send back all the bbox ids back to the server to log bbox deletions
            // Make an AJAX request
            $.ajax({
                url: '{% url 'images:species_annotation_processor'%}',
                method: 'POST',
                data: data,
                dataType: 'json',
                success: function (data){
                    if (data.success) {
                        saveRecentTags(
                            JSON.stringify(
                                anno.getAnnotations().map(function (annotation) {
                                    return annotation.body[0].value;
                                })
                            )
                        );
                        window.location.reload();
                    }
                    else {
                        $("#status-failure").removeClass("d-none");
                        setTimeout(function(){
                            $("#status-failure").addClass("d-none");
                        }, 10000);
                    }
                },
            });
        }

        // Get the recent tags from the last image.
        function getRecentTags() {
            return new Promise(function(resolve, reject) {
                const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                let data = {
                    'csrfmiddlewaretoken': csrftoken,
                }

                $.ajax({
                    url: '{% url 'images:get_recent_tags'%}',
                    method: 'POST',
                    data: data,
                    dataType: 'json',
                    success: function(data) {
                        if (data.success) {
                            if (data.recent_tags.length > 0) {
                                resolve(JSON.parse(data.recent_tags));
                            }
                            else {
                                resolve([]);
                            }
                        } else {
                            reject(new Error('Failed to fetch recent tags.'));
                        }
                    },
                });
            });
        }

        // Set the tags used to pre-populate the next image's annotations.
        function saveRecentTags(annotations) {
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            let data = {
                'csrfmiddlewaretoken': csrftoken,
                'annotations': annotations,
            }

            $.ajax({
                url: '{% url 'images:save_recent_tags'%}',
                method: 'POST',
                data: data,
                dataType: 'json',
                success: function (data) {
                    if (!data.success) {
                        console.log("There was a problem saving recent tags.");
                    }
                }
            });
        }

        {% if user.is_staff %}
            window.staffDeleteAnnotation = function () {
                const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

                let data = {
                    'model': arguments[0],
                    'boxId': arguments[1],
                    'annotationName': arguments[2],
                    'csrfmiddlewaretoken': csrftoken
                }

                $.ajax({
                    url: `{% url 'images:staff_delete_annotation'%}`,
                    method: 'POST',
                    data: data,
                    dataType: 'json',
                    success: function (data) {
                        let notifyText = document.getElementById(`notify-text-${data.name}`);

                        if (data.success) {
                            notifyText.innerHTML = `<i>Annotation "<b>${data.name}</b>" has been deleted.</i>`;
                        }
                        else {
                            notifyText.innerHTML = `There was a problem deleting <i>annotation "<b>${data.name}</b>".</i>`;
                        }
                    }
                });
            }

            window.staffChangeAnnotation = function () {
                const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

                let data = {
                    'model': arguments[0],
                    'boxId': arguments[1],
                    'annotationName': arguments[2],
                    'newAnnotationName': arguments[3],
                    'csrfmiddlewaretoken': csrftoken
                }

                $.ajax({
                    url: `{% url 'images:staff_change_annotation'%}`,
                    method: 'POST',
                    data: data,
                    dataType: 'json',
                    success: function (data) {
                        let notifyText = document.getElementById(`notify-text-${data.oldName}`);

                        if (data.success) {
                            notifyText.innerHTML = `<i>Annotation "${data.oldName}" has been changed to "<b>${data.newName}</b>".<br>(Refresh page to change again.)</i>`;
                        }
                        else {
                            notifyText.innerHTML = `There was a problem changing <i>annotation "<b>${data.oldName}</b>".</i>`;
                        }
                    }
                });
            }
        {% endif %}

        // Toggle between single & multiple species annotations
        $("#single-species").click(function(e){
            $(".label-toggle").toggleClass("d-none");
        });
        $("#multiple-species").click(function(e){
            $(".label-toggle").toggleClass("d-none");
            $('#species-list').val(null).trigger("change");
        });

        // Submit annotations to the server
        $("#save_annotations").click(function(e){
            // First, prevent the default action of the form
            e.preventDefault();
            if ($('#species-list').val() === null) {
                submitAnnotations(skip=false, species=false);
            }
            else {
                submitAnnotations(skip=false, species=$('#species-list').val());
            }
        });

        // Skip annotations to the server
        $("#skip_annotations").click(function(e){
            // First, prevent the default action of the form
            e.preventDefault();
            // Then, save the annotations
            submitAnnotations(skip=true);
        });

        $('#species-list').select2({
            placeholder: 'Select a species',
        });

        // Show the single species annotation on all annotation previews.
        $('#species-list').on('change', function () {
            const selectedOption = $('#species-list').val();
            annotationTexts = document.querySelectorAll("[id^='annotation-text-']");

            for (let annoText of annotationTexts) {
                annoText.innerHTML = selectedOption.length > 17
                  ? `<strong>${selectedOption.slice(0, 17)}...</strong>`
                  : `<strong>${selectedOption}</strong>`;
                annoText.style.backgroundColor = 'transparent';
            }
        });
    });

    // Focus on text input field in dropdown upon opening species list.
    $('#species-list').on('select2:open', function () {
        $('.select2-search__field')[0].focus();
    });

</script>
{% endblock footer_includes %}
