{% extends './base_annotate.html' %}
{% load static %}

<!-- Set corresponding nav pill to active -->
{% block nav_tag %}active{% endblock nav_tag %}

{% block header_includes %}
<link
    href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
    rel="stylesheet"
/>
{% endblock header_includes %}


{% block instruction_text %}
<p>
    What species does the image have?
</p>
{% endblock instruction_text %}


{% block missing_annotations_element %}
<div
    class="row py-3 justify-content-center d-none"
    id="status-missing-species"
>
    <div class="col-12">
        <div
            class="alert alert-danger text-center"
            role="alert"
        >
            <i class="bi bi-exclamation-triangle-fill"></i>&nbsp;
            <strong>Error!</strong> Some of your the bounding boxes don't have a species. Please try again.
        </div>
    </div>
</div>
{% endblock missing_annotations_element %}


{% block category_list %}
<div class="pb-3 label-toggle">
    <select id="species-list">
        <option
            value=""
            disabled
            selected
        ></option>
        {% for species in species_list %}
        <option value="{{species}}">{{species}}</option>
        {% endfor%}
        <hr>
    </select>
</div>
<p class="fw-bold d-none label-toggle">Click on each box and select the species. Then, click Save when
    complete!</p>
<span
    class="btn btn-primary label-toggle me-2"
    id="multiple-species"
><i class="bi bi-journal-plus">&nbsp;&nbsp;&nbsp;</i>Multiple species?</span>
<span
    class="btn btn-primary label-toggle d-none me-2"
    id="single-species"
><i class="bi bi-journal-minus">&nbsp;&nbsp;&nbsp;</i>Single species?</span>
{% endblock category_list %}


{% comment %}<script>{% endcomment %}
    {% block set_categories %}
    let categories = [
        {% for species in species_list %}"{{species}}", {% endfor %}
    ];
    {% endblock set_categories %}


    {% block processor_url %} `{% url 'images:species_annotation_processor'%}`{% endblock processor_url %}


    {% block multiple_category_check %}
    // If it is not a single species, make sure every entry has a species
    if (!species & !skip) {
        for (const annotation of anno.getAnnotations()) {
            if (annotation.body[0].value === undefined) {
                $(".spinner-border").hide();
                $("#status-missing-species").removeClass("d-none");
                setTimeout(function(){
                    $("#status-missing-species").addClass("d-none");
                }, 5000);
                return false;
            }
        }
    }

    if (species) {
        for (const annotation of anno.getAnnotations()) {
            annotation.body[0].value = species
            annotation.body[0].confidence = 1.0
        }
    }
    {% endblock multiple_category_check %}


    {% block save_recent_tags %}
    saveRecentTags(
        JSON.stringify(
            anno.getAnnotations().map(function (annotation) {
                return annotation.body[0].value;
            })
        )
    );
    {% endblock save_recent_tags %}


    {% block recent_tags_handling %}
    // Retrieve recent tags
    (async () => {
        try {
            window.recentTags = await getRecentTags();

            // Move recent tag to first place in species list
            let speciesList = $("#species-list");
            let recentTagOption = speciesList.find(`option[value='${recentTags[0]}']`);

            if (recentTagOption.length) {
                recentTagOption.remove();
                speciesList.prepend(recentTagOption);
            }
        } catch (error) {
            console.log(`An error occurred getting recent tags: ${error}`);
        }
    })();

    // Check if a box is clicked, and default select the associated recent tag if so
    window.observer = new MutationObserver(function (mutations) {
        if (mutations.some(mutation => mutation.target.matches('button'))) {
            return;
        }

        const categoryWidget = document.querySelector('.category-widget.m-2.p-2.row');
        const hasSelectedButton = categoryWidget && categoryWidget.querySelector('button.selected') !== null;

        if (!hasSelectedButton) {
            const targetDiv = document.querySelector('#recent-tag-div');

            if (targetDiv) {
                const targetButton = targetDiv.querySelector('button');

                if (targetButton) {
                    observer.disconnect();
                    targetButton.click();
                }
            }
        }
    });

    observer.observe(document, {attributes: false, childList: true, characterData: false, subtree:true});

    // Get the recent tags from the last image.
    function getRecentTags() {
        return new Promise(function(resolve, reject) {
            const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            let data = {
                'csrfmiddlewaretoken': csrftoken,
            }

            $.ajax({
                url: '{% url 'images:get_recent_tags'%}',
                method: 'POST',
                data: data,
                dataType: 'json',
                success: function(data) {
                    if (data.success) {
                        if (data.recent_tags.length > 0) {
                            resolve(JSON.parse(data.recent_tags));
                        }
                        else {
                            resolve([]);
                        }
                    } else {
                        reject(new Error('Failed to fetch recent tags.'));
                    }
                },
            });
        });
    }

    // Set the tags used to pre-populate the next image's annotations.
    function saveRecentTags(annotations) {
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        let data = {
            'csrfmiddlewaretoken': csrftoken,
            'annotations': annotations,
        }

        $.ajax({
            url: '{% url 'images:save_recent_tags'%}',
            method: 'POST',
            data: data,
            dataType: 'json',
            success: function (data) {
                if (!data.success) {
                    console.log("There was a problem saving recent tags.");
                }
            }
        });
    }
    {% endblock recent_tags_handling %}


    {% block submit_annotations %}
    if ($('#species-list').val() === null) {
        submitAnnotations(skip=false, species=false);
    }
    else {
        submitAnnotations(skip=false, species=$('#species-list').val(), activity=false);
    }
    {% endblock submit_annotations %}


    {% block additional_event_handlers %}
    // Toggle between single & multiple species annotations
    $("#single-species").click(function(e){
        $(".label-toggle").toggleClass("d-none");
    });

    $("#multiple-species").click(function(e){
        $(".label-toggle").toggleClass("d-none");
        $('#species-list').val(null).trigger("change");
    });

    $('#species-list').select2({
        placeholder: 'Select a species',
    });


    // Show the single species annotation on all annotation previews.
    $('#species-list').on('change', function () {
        const selectedOption = $('#species-list').val();
        annotationTexts = $("[id^='annotation-text-']");
        annotationTexts.html(`<strong>${selectedOption}</strong>`);
        annotationTexts.css("backgroundColor", "transparent");
    });


    // Focus on text input field in dropdown upon opening species list.
    $('#species-list').on('select2:open', function () {
        $('.select2-search__field')[0].focus();
    });
    {% endblock additional_event_handlers %}
{% comment %}</script>{% endcomment %}
