{% extends 'base.html' %}
{% load static %}

<!-- Set corresponding nav pill to active -->
{% block nav_upload %}active{% endblock %}

{% block content %}
    <div class="container mt-3 mt-md-5">
        <div class="row text-center">
            <small><a href="{% url 'images:view_upload' image.upload.id %}" class="text-decoration-none">⬅ back</a></small>
        </div>
        <div class="row mt-2 mt-md-4 px-2">
            <div class="col-12 text-center">
                <img id="{{image.id}}" class="img-fluid m-0 p-0" src="{% get_media_prefix %}{{image.thumbnail_url}}">
            </div>
        </div>
        <div class="row text-center">
            <canvas id="cropped-preview"></canvas>
        </div>
    </div>
    <div class="container mt-3 mt-md-5">
        <div class="row mt-2 mt-md-4 px-2">
            <div class="col-12 text-center">
                {% for annotation in image.annotation_set.all %}
                    {{annotation}}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}


{% block footer_includes %}
    <!-- Annotorious generic & custom stylesheets -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@recogito/annotorious@2.6.1/dist/annotorious.min.css">
    <!-- Jquery & Annotorious -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@recogito/annotorious-shape-labels@latest/dist/annotorious-shape-labels.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@recogito/annotorious@2.6.1/dist/annotorious.min.js"></script>
    <!-- Annotorious custom JS -->
    <script src="{% static 'js/md_class_selector_widget.js' %}"></script>

    <script>
        {% comment %} Create a javascript variable holding all the annotations and render annotations{% endcomment %}
        var annotations = [
            {% for annotation in image.annotation_set.all %}
                {
                    "id": "{{annotation.id}}",
                    "class": "{{annotation.primary_class}}",
                    "x": {{annotation.x}},
                    "y": {{annotation.y}},
                    "w": {{annotation.w}},
                    "h": {{annotation.h}},
                },
            {% endfor %}
        ];
        var anno = renderAnnotations("{{image.id}}", annotations);
    </script>
    <script>
        {% comment %} for (const annotation of anno.getAnnotations()){
            console.log(annotation);
            console.log(annotation.body[0].value)
            console.log(annotation.target.selector.value)
        }
        var canvas = document.getElementById("cropped-preview")
        var context = canvas.getContext("2d");
        var image = document.getElementById("{{image.id}}");
        console.log(image);
        context.drawImage(image, 0, 0, 100, 100); {% endcomment %}
    </script>
{% endblock %}
