{% extends './annotate/base_annotate.html' %}
{% load static %}
<!-- Set corresponding nav pill to active -->
{% block nav_upload %}active{% endblock %}
{% comment %}<script>{% endcomment %}
{% block set_categories %}
    let categories = [
    {% for species in species_list %}"{{ species }}",{% endfor %}
    ];
{% endblock set_categories %}
{% block include_nav_menu %}
    {% include './annotate/page_elements/nav-menu/single_img.html' %}
{% endblock include_nav_menu %}
{% block processor_url %}
    `{% url 'images:species_annotation_processor' %}`
{% endblock processor_url %}
{% block show_bbox_category_and_confidence %}
    "category": "{{ bbox.species_set.all.0.name }}",
    "confidence": "{{ bbox.category_set.all.0.confidence }}",
{% endblock show_bbox_category_and_confidence %}
{% block enable_save_buttons %}
    document.getElementById("save_annotations").disabled = false;
{% endblock enable_save_buttons %}
