{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Search Images{% endblock %}
<!-- Set corresponding nav pill to active -->
{% block nav_explore %}
    active
{% endblock nav_explore %}
{% block header_includes %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
          rel="stylesheet" />
{% endblock header_includes %}
{% block content %}
    <div class="container">
        <div class="row justify-content-evenly mt-3 pt-3">
            <div class="col-12 col-md-10 col-lg-8">
                {% if form.errors %}
                    <div class="alert alert-danger" role="alert">Server error! Please try again or contact admin.</div>
                {% endif %}
                <form id="search-form" method="post" onSubmit=queryImages>
                    {% crispy form %}
                </form>
            </div>
        </div>
        <div class="row justify-content-evenly mt-3 pt-3">
            {% if form.is_valid %}
                {% if results %}
                    <div class="alert alert-info" role="alert">There are {{ count }} result(s) for this query.</div>
                    <table class="table mt-2 mt-md-4 align-middle">
                        <thead>
                            <tr>
                                <th scope="col">Macrosite</th>
                                <th scope="col">Camera Station</th>
                                <th scope="col">Trigger Time</th>
                                <th scope="col">Annotation</th>
                                <th scope="col">Annotators</th>
                                <th scope="col">Image</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for image in results %}
                                <tr>
                                    <td>{{ image.upload.camera_station.micro_site.macro_site }}</td>
                                    <td>{{ image.upload.camera_station.station_id }}</td>
                                    <td>{{ image.trigger_timestamp }}</td>
                                    <td>NAME</td>
                                    <td>CREATED_BY</td>
                                    <td>
                                        <a href="{% url 'images:image' image.id %}">
                                            <img id="{{ image.id }}"
                                                 class="img-fluid m-0 p-0"
                                                 src="{% get_media_prefix %}{{ image.thumbnail_gcloud_path }}">
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    {% if count == 0 %}<div class="alert alert-danger" role="alert">No results found for this query.</div>{% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div id="results-modal" class="modal" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-primary"
                            data-dismiss="modal"
                            onclick="$('#results-modal').modal('hide');">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block footer_includes %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
    $('#id_volunteers').select2({
        placeholder: '(optional) Only these volunteers will be included',
    });
    $('#id_macrosites').select2({
        placeholder: '(optional) Only these macrosites will be included',
    });
    $('#id_camera_stations').select2({
        placeholder: '(optional) Only these camera stations will be included',
    });

    function addHourButtons(){
        const hours = 24;

        for (let hour = 0; hour < hours; hour++) {
            const paddedHour = hour.toString().padStart(2, '0'); // Format hours as 'HH:00'

            const button = $('<button></button>', {
                text: paddedHour + ':00',
                class: 'time-button btn btn-secondary btn-sm m-1',
                value: hour,
            });

            button.on('click', function() {
                var date = new Date($('input[name="date"]').val());

                var buttonValue = $(this).val();
                $('input[name="hour"]').val(buttonValue);

                $('#results-modal').modal('show');
                const options = { year: 'numeric', month: 'short', day: 'numeric' };
                const formattedDate = date.toLocaleDateString('en-US', options);
                $('.modal-title').text(`Results For ${formattedDate} ${paddedHour}:00-${paddedHour}:59`);
            });

            $('#time-picker').append(button);
        }

        $('#time-picker').hide();
    }

    $(document).ready(addHourButtons);

     function addDateButtons(month) {
        const year = new Date().getFullYear();
        const daysInMonth = new Date(year, month + 1, 0).getDate();

        $('#date-picker').empty();

        for (let day = 1; day <= daysInMonth; day++) {
            const date = new Date(year, month, day);
            const formattedDate = date.toLocaleDateString('en-US', { weekday: 'short', month: 'short', day: 'numeric' });

            const button = $('<button></button>', {
                text: formattedDate,
                class: 'date-button btn btn-primary btn-sm m-1',
                value: day,
            });

            button.on('click', function() {
                var buttonValue = $(this).val();

                var year = date.getFullYear();
                var month = date.getMonth();
                var newDate = new Date(year, month, buttonValue);

                $('input[name="date"]').val(
                    newDate.toISOString().split('T')[0]
                );
            });

            $('#date-picker').append(button);
        }
    }

    $('input[name="date"]').on('change', function() {
        var dateString = $(this).val();
        var dateObject = new Date(dateString);
        var month = dateObject.getMonth();

        var timePicker = $("#time-picker");

        if (dateString == null){
            $timePicker.hide();
        } else {
            timePicker.show();
        }

        addDateButtons(month);
    });

    $('#search-form').submit(function () {
     queryImages();
     return false;
    });

    function queryImages(){
        console.log("hi");
    }
    </script>
{% endblock footer_includes %}
