{% extends 'base.html' %}
{% load static %}

<!-- Set corresponding nav pill to active -->
{% block nav_tag %}active{% endblock %}

{% block content %}
<div class="container mt-3 mt-md-5">
    {% if image %}
        <div class="row text-center">
            <h3>Is there any object of interest in this image?</h3>
        </div>
        <div class="row text-center mt-2 mt-md-3">
            <div class="col-12 col-sm-6 offset-sm-3">
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="image_id" value={{image.gdrive_id}}>
                    <input type="submit" class="btn btn-secondary" name="object_of_interest" value="yes">
                    <input type="submit" class="btn btn-secondary" name="object_of_interest" value="no">
                </form>
            </div>
        </div>
        <div class="row mt-2 mt-md-4 px-2">
            <div class="col-12 text-center">
                {% comment %} Dummy image for now since gdrive is throttling requests. Once things move to storage, thing should be fine {% endcomment %}
                <img src="https://drive.google.com/uc?export=view&id={{image}}" class="img-thumbnail">
                {% comment %} <img width="100%" src="https://dummyimage.com/1600x900/eee/000" class="img-thumbnail"> {% endcomment %}
            </div>
        </div>
    {% else %}
        <div class="row text-center mt-3 mt-md-5 pt-2 pt-md-5">
            <h3>There are no more images to annotate! Come back later!</h3>
            <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 mt-2 mt-md-5 pt-2">
                <img class="img-fluid rounded" src="{% static 'images/puma_sleeping.jpg' %}">
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}
